.doctorBody {
	padding: 0 60px;
	max-width: 1920px;
	width: 100%;
	margin: auto;
}

.doctorContainer {
	background-color: #fff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding-top: 33px;
	width: calc(100% - 0px);
	max-width: calc(1440px - 100px);
	margin: auto;
}

.back {
	margin-bottom: 26px;
}

.back img {
	cursor: pointer;
}

.content {
	display: flex;
	gap: 28px;
}

.doctorInfo {
	background-color: #f7f9fb;
}

.about {
	margin-bottom: 33px;
	width: 100%;
}

.aboutTitle {
	display: flex;
	align-items: center;
	margin-bottom: 12px;
}

.aboutTitle h2 {
	margin: 0 12px;
	font-weight: 500;
	font-size: 18px;
	color: #1e2837;
}

.doctorInfo {
	padding: 32px 50px;
	width: 100%;
	min-width: 465px;
}

.aboutTxt span {
	display: block;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	text-transform: capitalize;
	color: #797a80;
}

.educationTitle {
	display: flex;
	align-items: center;
	margin-bottom: 12px;
}

.educationTitle h2 {
	margin: 0 12px;
	font-weight: 500;
	font-size: 18px;
	color: #1e2837;
}

.educationItem {
	margin-bottom: 24px;
}

.educationItem .data {
	font-weight: 500;
	font-size: 14px;
	line-height: 24px;
	text-transform: capitalize;
	color: #1e2837;
}

.educationItem h2 {
	color: #3a74d2;
	margin: 3px 0 10px;
	font-weight: 500;
	font-size: 14px;
	line-height: 24px;
	text-transform: capitalize;
}

.educationItem p {
	margin: 0;
	color: #797a80;
	font-size: 14px;
}

.educationContent {
	margin-top: 28px;
}

.doctor {
	position: relative;
	width: 320px;
	height: 280px;
}

.poster {
	position: relative;
	max-height: 281px;
	overflow: hidden;
	width: 320px;
	height: 280px;
}

.doctorStar {
	position: absolute;
	background-color: #3a74d2;
	padding: 5px 11px 5px 14px;
	border-radius: 14px;
	margin: 20px;
	margin-left: 230px;
	color: #fff;
	display: flex;
	align-items: center;
	gap: 5px;
	z-index: 2;
	top: 0;
}

.doctorImage {
	width: 320px;
	height: 280px;
}

.doctorContact {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 90%;
	height: 38.16px;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	box-shadow: 0 3px 9px #eff1f3;
	padding: 8px;
	margin-top: -19px;
	align-items: stretch;
}

.doctorContact div {
	width: 33%;
	display: flex;
	justify-content: center;
	align-items: stretch;
	border-right: 1px solid #d8d8d8;
}

.doctorContact div:last-child {
	border-right: 0px;
}

.contact {
	cursor: pointer;
}

.home {
	width: 16.73px;
}
.phone {
	width: 16.73px;
}
.video {
	width: 22.73px;
}

.doctorServices {
	min-width: 369px;
	overflow: hidden;
}

.proffesion {
	margin: 0 0 24px;
	display: flex;
	align-items: center;
	gap: 8px;
}

.prof {
	padding: 4px 12px 6px;
	border-radius: 14px;
	background-color: rgba(58, 116, 210, 0.1);
	color: #3a74d2;
	font-weight: 400;
	font-size: 14px;
}

.aboutDoctor {
	margin-top: 34px;
}

.aboutDoctor h2 {
	font-weight: 700;
	font-size: 18px;
	line-height: 25px;
	color: #1e2837;
	margin-bottom: 24px;
}

.address {
	display: flex;
	gap: 4px;
	align-items: center;
	margin: 0 18px 24px 0;
}

.address h4 {
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	color: #797a80;
	margin: 0;
}

.language {
	margin: 0 0 32px;
	padding: 0 0 18px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 2px solid #efefef;
}

.languageList {
	display: flex;
	gap: 12px;
	position: relative;
}

.languageList span {
	display: block;
	position: relative;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #797a80;
	cursor: pointer;
}

.languageList span:last-child:after {
	width: 0px;
}

.languageList span:after {
	content: '';
	position: absolute;
	top: 50%;
	transform: translateY(-40%);
	background-color: #bfc4ca;
	height: 13px;
	width: 1px;
	margin-left: 6px;
}

.certTitle {
	display: flex;
	gap: 12px;
	margin-bottom: 28px;
}

.certTitle h2 {
	margin: 0;
	font-weight: 500;
	font-size: 18px;
	line-height: 25px;
	color: #1e2837;
}

.certificate {
	display: flex;
	align-items: baseline;
	gap: 14px;
	margin-bottom: 31px;
}

.certificateInfo h2 {
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	color: #1e2837;
	margin: 0;
}

.certificateInfo p {
	color: #797a80;
	font-size: 14px;
	margin: 10px 0;
}

.certificateInfo h4 {
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	color: #797a80;
	margin: 0;
}

.certCheckmark img {
	width: 16px;
	height: 12px;
}

.certLink {
	display: flex;
	align-items: center;
	gap: 7px;
	margin-top: 9px;
}

.certLink a {
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	text-decoration-line: underline;
	color: #3a74d2;
}

.bookingHeader {
	display: flex;
	align-items: center;
	gap: 12px;
	margin-bottom: 29px;
}

.bookingHeader h2 {
	font-weight: 500;
	font-size: 18px;
	line-height: 25px;
	color: #1e2837;
	margin: 0;
}

.bookingTool {
	margin-bottom: 29px;
	display: flex;
	gap: 2%;
}

.bookingBtn {
	width: 33%;
	background-color: transparent;
	border: 1px solid #efefef;
	border-radius: 19px;
	cursor: pointer;
	padding: 7px 22px;
	display: flex;
	align-items: center;
	gap: 13px;
}

.bookingBtn span {
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	color: #3a74d2;
	margin-top: 3px;
}

.activeContact {
	background: #3a74d2;
}

.activeContact span {
	color: #fff;
}

.activeContact img {
	filter: invert(100%) sepia(239%) saturate(0%) hue-rotate(233deg)
		brightness(111%) contrast(180%);
}

.patient h2 {
	font-weight: 500;
	font-size: 18px;
	line-height: 25px;
	color: #1e2837;
}

.familyBtn {
	display: flex;
	gap: 10px;
	align-items: center;
	margin: 10px 0;
	margin-left: auto;
	background-color: transparent;
	outline: none;
	border: none;
	cursor: pointer;
}

.familyBtn span {
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #3a74d2;
}
.bookBtn {
	margin-bottom: 30px;
}
.bookBtnStyle {
	width: 370px;
	height: 52px;
	border-radius: 5px;
	background-color: #3a74d2;
	color: #fff;
	margin-top: 20px;
	cursor: pointer;
	border: none;
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
}

.noteInput {
	width: 365px;
	min-height: 110px;
	border-radius: 5px;
	border: 1px solid #921b1b;
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	color: #8d8a8a;
}
