.servicesBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 80px;
    background-color: #ffffff;
    margin-top: 24px;
    width: calc(100% - 0px);
    max-width: 1340px;
    margin: auto;
    padding-bottom:100px;
    margin-top: 43px;
}

.tableRow {
    grid-template-columns: 35% 22% 22% 21%!important;
}

.servicesSearch {
    padding:70px 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.servicesSearch h3 {
    font-family: 'Avenir Next Georgian Medium';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #383838;
}

.search {
    width: 358px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    border-radius: 12px;
    background: #F7F9FB;
    font-family: 'Avenir Next Georgian Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: rgba(56, 56, 56, 0.5);
}

.searchIcon {
    margin-top:6px;
}

.search input {
    width: 100%;
    background-color: transparent;
    border:none;
    outline: none;
}

.breadcrumbSpan {
	cursor: pointer;
	transition: color 0.3s;
}

.breadcrumbSpan:hover {
	color: #FFBBB6;
}

.breadcrumbs {
	margin-bottom: 32px;
	color: #383838!important;
}

.activeBreadCrumb {
	font-weight: 700;
	font-family: 'Avenir Next Bold';
	color: #FFBBB6;
	padding: 0 21px 0 0;
}

.breadcrumbs li {
	font-family: 'Avenir Next Georgian';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	color: #383838!important;
}


.clinicImage {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 24px;
    overflow: hidden;
    border-radius: 24px;
}

.clinicImage img {
    object-fit: cover;
}

.clincInfo {
    display: flex;
    gap: 0 40px;
}

.clincInfo h2 {
    font-family: 'Avenir Next Georgian';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #383838;
}

.clincInfo {
    margin: 10px 0 40px;
}