.cardTableContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 50px;
}
.cardTable {
	display: flex;
	flex-direction: row;
	justify-content: center;
	/* align-items: center; */
	width: 100%;
	margin: auto;
	width: calc(100% - 0px);
	max-width: calc(1440px - 100px);
}

.switcher {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-bottom: 56px;
}
.headerTitle {
	display: block;
	font-family: 'Avenir Next Georgian';
	font-style: normal;
	font-weight: 700;
	font-size: 46px;
	line-height: 64px;
	color: #383838;
	margin-bottom: 20px;
}
.switcherLabel {
	font-family: 'Avenir Next Georgian';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 150%;
	color: rgba(56, 56, 56, 0.6);
}
.features {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 347px;
	background-color: #f8eff0;
	margin-right: 30px;
	padding: 39px 14px 126px 14px;
	border-radius: 12px;
	margin-top: 37px;
}
.Starter {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 24%;
	background: #ffffff;
	padding: 40px 14px 3px 14px;
	border-radius: 12px;
	margin-top: 37px;
	height: 790px;
}
.pro {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 24%;
	background: #ffbbb6;
	padding: 37px 14px 30px 14px;
	border-radius: 12px;
}
.proTextStyle {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Noto Sans', 'Avenir Next Georgian';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #180126;
	background: #ffd7d5;
	border-radius: 8px;
	width: 100%;
	height: 52px;
}
.proTextStyleSec {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Noto Sans', 'Avenir Next Georgian';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #180126;
	border-radius: 8px;
	width: 100%;
	height: 52px;
}

.plus {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 24%;
	background: #ffffff;
	padding: 40px 14px 3px 14px;
	border-radius: 12px;
	margin-top: 37px;
	height: 790px;
}
.featuresTextStyle {
	width: 100%;
	height: 51px;
	font-family: 'Noto Sans', 'Avenir Next Georgian';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	color: #1e2837;
	background-color: #ffd7d4;
	display: flex;
	align-items: center;
	border-radius: 8px;
	padding-left: 14px;
}
.featuresTextStyleSec {
	width: 100%;
	height: 51px;
	font-family: 'Noto Sans', 'Avenir Next Georgian';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	color: #1e2837;
	display: flex;
	align-items: center;
	border-radius: 8px;
	padding-left: 14px;
}
.titleTextStyle {
	margin-left: 10px;
	padding-bottom: 92px;
	font-family: 'Noto Sans', 'Avenir Next Georgian';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 24px;
	color: #1e2837;
}
.getStartedBtn {
	display: block;
	margin: auto;
	width: 100%;
	height: 48px;
	border: 1px solid #dcdddf;
	border-radius: 5px;
	font-family: 'TBC Sailec';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 16px;
	color: #180126;
	background-color: #ffffff;
	cursor: pointer;
	border-radius: 12px;
}
.getStartedBtnPro {
	display: block;
	margin: auto;
	width: 100%;
	height: 48px;
	border: 1px solid #dcdddf;
	border-radius: 12px;
	font-family: 'TBC Sailec';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 16px;
	color: #180126;
	background-color: #ffffff;
	cursor: pointer;
}
.getStartedBtnContainerPro {
	margin-top: 73px;
	width: 100%;
	height: 48px;
}
.getStartedBtnContainer {
	margin-top: 40px;
	width: 100%;
	height: 48px;
}
.tableValue {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 52px;
	border-radius: 8px;
	font-family: 'Noto Sans', 'Avenir Next Georgian';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #180126;
	background: #f7f8fa;
}
.tableValueSec {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80%;
	height: 52px;
	border-radius: 8px;
	font-family: 'Noto Sans', 'Avenir Next Georgian';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #180126;
	gap: 20px;
}
.price {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 34px;
	line-height: 46px;
	color: #1e2837;
	height: 46px;
}
.cardTitles {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 15%;
	/* margin-bottom: 30px; */
	padding-left: 20px;
}
.cardTitleText {
	margin-top: 5px;
	margin-bottom: 14px;
	/* font-family: 'TBC Sailec'; */
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 24px;
	color: #1e2837;
}
.cardTitleTextPro {
	margin-top: 11px;
	margin-bottom: 14px;
	/* font-family: 'TBC Sailec'; */
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 24px;
	color: #1e2837;
}
.proCardTitles {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding-left: 20px;
	margin-bottom: 29px;
}
.recommendedStyle {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 130px;
	height: 25px;
	border-radius: 8px;
	background: #ff1c00;
	font-family: 'Noto Sans', 'Avenir Next Georgian';
	font-style: normal;
	font-weight: 700;
	font-size: 12px;
	line-height: 16px;
	color: #ffffff;
}
.spanText {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #180126;
	padding-left: 20px;
}

.tooltip {
	height: 18px;
	width: 18px;
	margin-bottom: 20px;
	margin-left: 4px;
}
.cardTableMobile {
	display: none;
}
.tootltipText {
	display: none;
}

.tableValuesContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	border-radius: 5px;
}

.cardContainer {
	max-width: 884px;
	width: 100%;
	background: #ffffff;
	border-radius: 12px;
	padding: 32px 60px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.containerCard img {
	width: 334.03px;
	margin-bottom: 20px;
	border-radius: 24px;
}
.containerList {
	width: 100%;
}
.listItem {
	width: 100%;
	min-height: 55px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #f7f8fa;
	border-radius: 12px;
	padding: 0 40px;
}
.listItem:nth-child(2n) {
	background-color: #fff;
}
.listItem span {
	font-family: 'Avenir Next Georgian';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	color: #383838;
}
.listItem:hover {
	background-color: rgb(255, 187, 182, 0.2);
}

.priceText {
	font-family: 'Avenir Next Georgian';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 150%;
	text-align: right;
	color: rgba(56, 56, 56, 0.5);
}
.price {
	margin-top: 30px;
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.priceContainer {
	display: flex;
	flex-direction: column;
}
.priceNumberStyle {
	font-family: 'Avenir Next Georgian';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 150%;
	color: #383838;
}
.price button {
	width: 293px;
	height: 48px;
	background: #ffbbb6;
	border-radius: 12px;
	border: none;
	outline: none;
	font-family: 'Avenir Next Georgian';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	color: #180126;
	cursor: pointer;
}
@media only screen and (max-width: 1300px) {
	.spanText {
		display: none;
	}
}
@media only screen and (max-width: 767px) {
	.cardContainer {
		max-width: 884px;
		width: 100%;
		background: #ffffff;
		border-radius: 12px;
		padding: 32px 30px;
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
	}
	.listItem {
		width: 100%;
		min-height: 55px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background: #f7f8fa;
		border-radius: 12px;
		padding: 16px;
	}
	.listItem span:nth-child(2) {
		font-family: 'Avenir Next Georgian';
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		color: #383838;
		text-align: end;
	}
	.listItem span {
		font-size: 14px;
	}
	.price button {
		width: 198px;
	}
	/* .tooltip {
		display: none;
	} */
	.tootltipText {
		display: flex;
		width: 275px;
		height: 48px;
		font-family: 'Noto Sans';
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 24px;
		text-align: center;
		color: #797a80;
		margin-top: 15px;
	}

	.switcher {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		margin-bottom: 56px;
	}
	.headerTitle {
		display: flex;
		justify-content: center;
		margin-bottom: 27px;
		font-family: 'Avenir Next Bold';
		font-style: normal;
		font-weight: 700;
		font-size: 18px;
		line-height: 26px;
		color: #1e2837;
	}
	.cardTableMobile {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		width: 97%;
		overflow-x: scroll;
	}
	.Starter {
		display: flex;
		flex-direction: column;
		align-items: center;
		min-width: 302px;
		background: #ffffff;
		border-radius: 6px;
		/* height: 679px; */
	}
	.pro {
		display: flex;
		flex-direction: column;
		align-items: center;
		min-width: 302px;
		background: #ffbbb6;
		border-radius: 6px;
		min-height: 778px;
	}
	.plus {
		display: flex;
		flex-direction: column;
		align-items: center;
		min-width: 302px;
		background: #ffffff;
		border-radius: 6px;
		min-height: 679px;
	}
	.tableValuesContainer:nth-child(even) {
		background: #f7f8fa;
	}
	/* .tableValuesContainerSec {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
		border-radius: 5px;
	} */

	.proTextContainer {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 96%;
		border-radius: 5px;
		background: #ffd7d5;
		min-height: 52px;
		padding: 0 12px;
		gap: 20px;
	}

	.proTextContainerSec {
		display: flex;
		flex-direction: row;
		border-radius: 5px;
		justify-content: space-between;
		width: 96%;
		padding: 5px;
		height: 52px;
	}
	.proTextStyle {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		font-family: 'Noto Sans';
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 22px;
		color: #180126;
		background: #ffd7d5;
		border-radius: 8px;
		height: 100%;
	}
	.proTextStyleSec {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		font-family: 'Noto Sans';
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 22px;
		color: #180126;
		border-radius: 8px;
		padding-left: 5px;
	}
	.proCardTitles {
		margin-bottom: 20px;
	}
	.cardTable {
		display: none;
	}
	.getPlusBtn {
		display: block;
		margin: auto;
		width: 100%;
		height: 48px;
		border: 1px solid #dcdddf;
		border-radius: 5px;
		font-family: 'TBC Sailec';
		font-style: normal;
		font-weight: 700;
		font-size: 16px;
		line-height: 16px;
		color: #180126;
		background-color: #ffffff;
		cursor: pointer;
		margin-top: 50px;
	}
	.tableValueMobile {
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 52px;
		border-radius: 8px;
		font-family: 'Noto Sans';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 22px;
		color: #180126;
		padding-left: 12px;
		padding-right: 12px;
	}
	.tableValueMobileP {
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 52px;
		border-radius: 8px;
		font-family: 'Noto Sans';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 22px;
		color: #180126;
		padding-left: 12px;
		padding-right: 12px;
		text-align: end;
	}
	.tableValueSec {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		width: 80%;
		height: 52px;
		border-radius: 8px;
		font-family: 'Noto Sans';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 22px;
		color: #180126;
		gap: 20px;
	}
	.getStartedBtn {
		margin-top: 20px;
	}
	.tableValueSecMobile {
		display: flex;
		justify-content: center;
		align-items: center;
		padding-left: 12px;
		padding-right: 12px;
		min-height: 52px;
		border-radius: 8px;
		font-family: 'Noto Sans';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 22px;
		color: #180126;
		gap: 20px;
	}
	.tableValueSecMobileP {
		display: flex;
		justify-content: center;
		align-items: center;
		padding-left: 12px;
		padding-right: 12px;
		min-height: 52px;
		border-radius: 8px;
		font-family: 'Noto Sans';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 22px;
		color: #180126;
		gap: 20px;
		text-align: end;
	}
	.proTextStylePercent {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		font-family: 'Noto Sans';
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 22px;
		color: #180126;
		border-radius: 8px;
		height: 50px;
		width: 30%;
		text-align: end;
	}
	.proTextStyleSecPercent {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		font-family: 'Noto Sans';
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 22px;
		color: #180126;
		border-radius: 8px;
		height: 46px;
		width: 30%;
		white-space: nowrap;
	}
	.tableValueFrom {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		min-height: 52px;
		border-radius: 8px;
		font-family: 'Noto Sans';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 22px;
		color: #180126;
		padding-right: 12px;
	}
	.tableValueSecFrom {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		width: 52%;
		padding-left: 12px;
		padding-right: 12px;
		min-height: 52px;
		border-radius: 8px;
		font-family: 'Noto Sans';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 22px;
		color: #180126;
	}
}
