.cardTableContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	/* margin-bottom: 72px; */
}
.cardTable {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: auto;
	width: calc(100% - 0px);
	max-width: calc(1440px - 100px);
}

.switcher {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-bottom: 56px;
}
.headerTitle {
	font-family: 'Avenir Next Georgian';
	font-style: normal;
	font-weight: 900;
	font-size: 46px;
	line-height: 64px;
	color: #01261c;
}
.switcherLabel {
	font-family: 'Avenir Next Georgian';
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 26px;
	color: #797a80;
}
.features {
	display: flex;
	flex-direction: column;
	width: 347px;
	background-color: #f8eff0;
	border-radius: 6px;
	margin-right: 30px;
	padding: 39px 14px 126px 14px;
}
.Starter {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 24%;
	background: #ffffff;
	padding: 34px 14px 30px 14px;
	border-radius: 6px;
	/* height: 679px; */
}
.pro {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 24%;
	background: #ffbbb6;
	padding: 37px 14px 30px 14px;
	border-radius: 6px;
}
.proTextStyle {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #180126;
	background: #ffd7d5;
	border-radius: 8px;
	width: 100%;
	height: 52px;
}
.proTextStyleSec {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #180126;
	border-radius: 8px;
	width: 100%;
	height: 52px;
}

.plus {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 24%;
	background: #ffffff;
	padding: 34px 14px 30px 14px;
	border-radius: 6px;
}
.featuresTextStyle {
	width: 100%;
	height: 51px;
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	color: #1e2837;
	background-color: #ffd7d4;
	display: flex;
	align-items: center;
	border-radius: 8px;
	padding-left: 14px;
}
.featuresTextStyleSec {
	width: 100%;
	height: 51px;
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	color: #1e2837;
	display: flex;
	align-items: center;
	border-radius: 8px;
	padding-left: 14px;
}
.titleTextStyle {
	margin-left: 10px;
	padding-bottom: 92px;
	font-family: 'TBC Sailec';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 24px;
	color: #1e2837;
}
.getStartedBtn {
	display: block;
	margin: auto;
	width: 100%;
	height: 48px;
	border: 1px solid #dcdddf;
	border-radius: 5px;
	font-family: 'TBC Sailec';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 16px;
	color: #180126;
	background-color: #ffffff;
	cursor: pointer;
}
.getStartedBtnPro {
	display: block;
	margin: auto;
	width: 100%;
	height: 48px;
	border: 1px solid #dcdddf;
	border-radius: 5px;
	font-family: 'TBC Sailec';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 16px;
	color: #180126;
	background-color: #ffffff;
	cursor: pointer;
}
.getStartedBtnContainerPro {
	margin-top: 73px;
	width: 100%;
	height: 48px;
}
.getStartedBtnContainer {
	margin-top: 40px;
	width: 100%;
	height: 48px;
}
.tableValue {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 52px;
	border-radius: 8px;
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #180126;
	background: #f7f8fa;
}
.tableValueSec {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80%;
	height: 52px;
	border-radius: 8px;
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #180126;
	gap: 20px;
}
.price {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 34px;
	line-height: 46px;
	color: #1e2837;
	height: 46px;
}
.cardTitles {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 20.5%;
	margin-bottom: 30px;
	padding-left: 20px;
}
.cardTitleText {
	margin-top: 5px;
	margin-bottom: 14px;
	font-family: 'TBC Sailec';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 24px;
	color: #1e2837;
}
.cardTitleTextPro {
	margin-top: 11px;
	margin-bottom: 14px;
	font-family: 'TBC Sailec';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 24px;
	color: #1e2837;
}
.proCardTitles {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding-left: 20px;
	margin-bottom: 29px;
}
.recommendedStyle {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 130px;
	height: 25px;
	border-radius: 8px;
	background: #ff1c00;
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 12px;
	line-height: 16px;
	color: #ffffff;
}
.spanText {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #180126;
	padding-left: 20px;
}

.tooltip {
	height: 18px;
	width: 18px;
	margin-bottom: 20px;
	margin-left: 4px;
}
.cardTableMobile {
	display: none;
}
.tootltipText {
	display: none;
}

.tableValuesContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	border-radius: 5px;
}

@media only screen and (max-width: 1300px) {
	.spanText {
		display: none;
	}
}
@media only screen and (max-width: 767px) {
	.tooltip {
		display: none;
	}
	.tootltipText {
		display: flex;
		width: 275px;
		height: 48px;
		font-family: 'Noto Sans';
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 24px;
		text-align: center;
		color: #797a80;
		margin-top: 15px;
	}

	.switcher {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-bottom: 56px;
	}
	.headerTitle {
		display: flex;
		justify-content: center;
		margin-bottom: 27px;
		font-family: 'Avenir Next Bold';
		font-style: normal;
		font-weight: 700;
		font-size: 18px;
		line-height: 26px;
		color: #1e2837;
	}
	.cardTableMobile {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		width: 97%;
		overflow-x: scroll;
	}
	.Starter {
		display: flex;
		flex-direction: column;
		align-items: center;
		min-width: 302px;
		background: #ffffff;
		border-radius: 6px;
		height: 679px;
	}
	.pro {
		display: flex;
		flex-direction: column;
		align-items: center;
		min-width: 302px;
		background: #ffbbb6;
		border-radius: 6px;
		height: 778px;
	}
	.plus {
		display: flex;
		flex-direction: column;
		align-items: center;
		min-width: 302px;
		background: #ffffff;
		border-radius: 6px;
		height: 679px;
	}
	.tableValuesContainer:nth-child(even) {
		background: #f7f8fa;
	}
	/* .tableValuesContainerSec {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
		border-radius: 5px;
	} */

	.proTextContainer {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 96%;
		border-radius: 5px;
		background: #ffd7d5;
		height: 52px;
		padding: 0 12px;
		gap: 20px;
	}

	.proTextContainerSec {
		display: flex;
		flex-direction: row;
		border-radius: 5px;
		justify-content: space-between;
		width: 96%;
		padding: 5px;
		height: 52px;
	}
	.proTextStyle {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		font-family: 'Noto Sans';
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 22px;
		color: #180126;
		background: #ffd7d5;
		border-radius: 8px;
		height: 52px;
	}
	.proTextStyleSec {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		font-family: 'Noto Sans';
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 22px;
		color: #180126;
		border-radius: 8px;
		padding-left: 5px;
		height: 46px;
	}
	.cardTable {
		display: none;
	}
	.tableValueMobile {
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 52px;
		border-radius: 8px;
		font-family: 'Noto Sans';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 22px;
		color: #180126;
		padding-left: 12px;
		padding-right: 12px;
	}
	.tableValueSecMobile {
		display: flex;
		justify-content: center;
		align-items: center;
		padding-left: 12px;
		padding-right: 12px;
		min-height: 52px;
		border-radius: 8px;
		font-family: 'Noto Sans';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 22px;
		color: #180126;
		gap: 20px;
	}
	.proTextStylePercent {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		font-family: 'Noto Sans';
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 22px;
		color: #180126;
		border-radius: 8px;

		height: 50px;
		width: 30%;
		white-space: nowrap;
	}
	.proTextStyleSecPercent {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		font-family: 'Noto Sans';
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 22px;
		color: #180126;
		border-radius: 8px;
		height: 46px;
		width: 30%;
		white-space: nowrap;
	}
	.tableValueFrom {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		min-height: 52px;
		border-radius: 8px;
		font-family: 'Noto Sans';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 22px;
		color: #180126;
		padding-right: 12px;
	}
	.tableValueSecFrom {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		width: 52%;
		padding-left: 12px;
		padding-right: 12px;
		min-height: 52px;
		border-radius: 8px;
		font-family: 'Noto Sans';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 22px;
		color: #180126;
	}
}
