.catalogContainerBg {
	position: sticky;
    top: 123px;
    z-index: 999;
    background: #fff;
}

.catalogContainer {
	height: 48px;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
	padding: 0px;
	gap: 20px;
	margin: auto;
	/* width: calc(100% - 0px);
	max-width: calc(1440px - 0px); */
	width: calc(100% - 0px);
	max-width: 1440px;
	padding-left: 50px;
	padding-right: 50px;
}

.catalogContainer span:last-child a{
	font-weight: 700;
	color: #1E2837;
}

.catalogContainer a {
	color: #01261c;
}

.catalogContainer a:hover {
	color: #ff1c00;
}

.dropDownContainer {
	height: 200px;
	background-color: rgb(213, 164, 188);
	margin: auto;
	width: calc(100% - 100px);
	max-width: calc(1440px - 100px);
}

.dropdown {
	width: 100%;
	background-color: #fff;
	overflow: hidden;
}

.dropdown ul {
	position: relative;
	background-color: #fff;
	border-top: 1px solid rgb(30, 40, 57, 10%);
	box-shadow: 0 0 0;
	width: calc(100% - 0px);
	max-width: calc(1440px - 100px);
	margin: 13px auto 0;
	padding-left: 338px;
	padding-top: 28px;
	height: 292px;
}

.dropdown ul:after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 312px;
	height: 280px;
	background-image: url('/dropdownicon.svg');
}

.dropdown ul li {
	display: inline-block;
	vertical-align: top;
	width: 33.333333%;
	overflow: hidden;
	margin-bottom: 32px;
	font-family: 'Avenir Next Georgian';
	font-weight: 500;
	font-size: 16px;
	line-height: 23px;
	color: #1e2837;
}

.dropdown ul li:hover {
	background-color: transparent;
	color: #ff1c00;
}

.catalogTextStyle {
	font-family: 'Avenir Next Georgian';
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 23px;
	color: #01261c;
	cursor: pointer;
	transition: 0.4s;
}

.allCatBtn {
	display: flex;
	align-items: center;
	font-family: 'Avenir Next Georgian';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	color: #FF5440!important;
	gap: 8px;
}

.menubtnIcon {
	margin-top:8px;
}

.activeMenuLink {
	position: relative;
	color: #FFBBB6;
}

.activeMenuLink:after {
	content:'';
	position: absolute;
	background-color: #FFBBB6;
	border-radius: 5px 5px 0px 0px;
	height: 3px;
	width: 100%;
	bottom: -7px;
	left:0;
}

@media only screen and (max-width: 950px){
	.catalogContainerBg{
		display:none;
	}
}

@media only screen and (max-width: 767px) {
	.catalogContainer {
		display: none;
	}
}