.checkoutModal {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: RGBA(0, 0, 0, 0.5);
  z-index: 999999;
}

.container {
  position: fixed;
  background-color: white;
  width: 420px;
  height: 100%;
  right: 0;
  padding: 40px 0;
  top: 0;
  right: 0;
  z-index: 999999;
  overflow-y: auto;
}

.fmTool {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
  height: 6%;
  padding: 0 40px;
  z-index: 9;
}

.fmTool img {
  cursor: pointer;
}

.fmTool h2 {
  font-size: 24px;
}

.checkoutContainer {
  position: relative;
  height: calc(100% - 10%);
  margin: 0 20px 0 40px;
  /* overflow-y: auto; */
  padding: 0 20px 30px 0;
  z-index: 5;
}

.bg {
  position: relative;
  min-height: 76%;
}

.bg:after {
  content: '';
  position: absolute;
  bottom: -190px;
  right:0;
  background-image: url('../../../public/bird.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 624px;
  z-index: 1;
}

.container::-webkit-scrollbar {
  width: 0px;
}

.container::-webkit-scrollbar-track {
  background: #bfccff;
}

.container::-webkit-scrollbar-thumb {
  background: #2751f2;
}

.container::-webkit-scrollbar-thumb:hover {
  background: #1641ed;
}

.document {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #01261C;
  margin-bottom: 38px;
}

.checkoutheader {
  margin-bottom:32px;
}

.users {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 24px;
}

.user {
  padding: 22px 24px;
  border: 1px solid #DCDDDF;
  border-radius: 5px;
  background-color: #fff;
}

.userHead {
  display: flex;
  align-items: flex-start;
  padding: 0 0 18px 0;
  margin-bottom: 18px;
  gap: 16px;
  border-bottom: 1px solid #DCDDDF;
}

.block h2 {
  margin: 0 0 8px;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #01261C;
}

.block span {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #797A80;
}

.infoCol {
  display: flex;
  align-items: center;
  gap: 14px;
}

.infoCol h4 {
  margin: 0;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: #797A80;
}

.userInfo {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.editBtn {
  float:right;
  margin: 14px 0 0;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #5E70DA;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.addFamilymember h2 {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #1E2837;
}

.dataPicker {
  min-height: 55px;
  border: 1px solid #e5e5e5;
  padding: 18px 20px;
  margin-left:2px;
  width: 220px;
}

.block {
  display: flex;
  flex-direction: column;
  gap:10px;
}

.save {
  width: 165px;
  height: 52px;
  background: #FFBBB6;
  border-radius: 5px;
  border:none;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: #1E2837;
  cursor: pointer;
  margin-top:15px;
}

.servInput {
  background-color: #fff;
}

.input {
  width: 100%;
}

.currentUserForm {
  margin-top:20px;
  display: flex;
  flex-direction: column;
  gap:15px;
}

.userBlock {
  margin-bottom:30px;
}

.dataPicker {
  width: 100%;
  min-height: 55px;
  border: 1px solid #e5e5e5;
}

.select div {
  width: 100%;
  min-height: 55px;
  display: flex;
  align-items: center;
}

.nonBtn {
  display: none;
}

.servicesContainer {
  width: 620px;
}

.servicesBg:after {
  width: 68%!important;
}

.servicesListItem {
  font-family: 'Avenir Next Georgian';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #1E2837;
  cursor: pointer;
}

.servicesList {
  position: relative;
  height: calc(100% - 10%);
  margin: 0 20px 0 40px;
  padding: 0 20px 30px 0;
  z-index: 5;
  display: flex;
  flex-direction: column;
  gap: 28px;
  max-width: 500px;
}