.aboutUsContainer {
	display: flex;
	flex-direction: column;
	/* margin-left: 140px;
  margin-right: 140px; */
	margin-bottom: 13px;
	width: calc(100% - 280px);
	max-width: calc(1920px - 280px);
	margin: auto;
}
.aboutUsTitle {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 33px;
	color: #1e2837;
	margin-bottom: 28px;
	margin-top: 28px;
}
.aboutUsText {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 40px;
	color: #90959c;
	margin-bottom: 24px;
}

.aboutImg {
	width: 100%;
	overflow: hidden;
	height: 465px;
	position: relative;
}

.aboutImg img {
	width: 100%;
	min-height: 100%;
	position: absolute;
	display: flex;
	object-fit: cover;
}

@media only screen and (max-width: 600px) {
	.aboutUsContainer {
		padding: 0 16px;
		margin: 0 !important;
		width: 100% !important;
	}
	.aboutUsContainer {
		margin-right: 16px;
		margin-left: 16px;
	}
	.aboutUsTitle:nth-child(1) {
		margin-top: 0;
		display: none;
	}
	.aboutUsTitle {
		margin: 0;
		font-size: 16px;
	}
	.aboutUsText {
		font-size: 14px;
		line-height: 30px;
		margin-bottom: 24px;
	}
	.aboutImg {
		height: 204px;
		margin-bottom: 24px;
	}
	.aboutImg img {
		display: flex;
		object-fit: cover;
	}
}
