.aboutUsContainer {
  display: flex;
  flex-direction: column;
  /* margin-left: 140px;
  margin-right: 140px; */
  margin-bottom: 13px;
  padding: 0 60px;
  max-width: 1920px;
  width: 100%;
  margin:auto;
}
.aboutUsTitle {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #1e2837;
  margin-bottom: 28px;
  margin-top: 28px;
}
.aboutUsText {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 40px;
  color: #90959c;
}

.aboutImg {
  width:100%;
  overflow: hidden;
  height:465px;
  position: relative;
}

.aboutImg img {
  width: 100%;
  min-height: 100%;
  position: absolute;
}

@media only screen and (max-width: 600px) {
  .aboutUsContainer {
    padding: 0 16px;
    margin: 0!important;
  }
  .aboutUsContainer{
    margin-right:16px;
    margin-left: 16px;
  }
  .aboutUsTitle {
    margin-top:0;
  }
  .aboutImg {
    height: 204px;
  }
  .aboutImg img {
    width: 150%;
    left:50%;
    transform: translateX(-50%);
  }
}