.container {
  display: flex;
  flex-direction: column;
  padding-top: 42px;
  background-color: #fff;
}
.firstPart {
  margin:auto;
  width: calc(100% - 264px);
  max-width: calc(1920px - 264px);
}
.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.headerContainerTitle {
  display: flex;
  justify-content: center;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 28px;
  color: #1e2837;
  margin-bottom: 72px;
}
.buyCardStep {
  display: flex;
  flex-direction: column;
  margin-top: 74px;
  margin-bottom: 36px;
}
.headerContainerNumber {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
  color: #3a74d2;
  margin-right: 24px;
}
.headerContainerText {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #797a80;
}
.headerContainerRight {
  margin-bottom: 94px;
}
/* table  */

.tableTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 1px solid #d8dadc;
  margin-left: 140px;
  margin-right: 140px;
  height: 44px;
  margin-top: 70px;
}
.tableDataStyle {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-self: flex-start;
  height: 44px;
  border-bottom: 1px solid #d8dadc;
  margin-left: 140px;
  margin-right: 140px;
}
.tableDataTitleStyle {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-self: flex-start;
  height: 44px;
  margin-left: 140px;
  margin-right: 140px;
}

.tableFeature {
  width: 220px;
  margin-top: 24px;
  margin-bottom: 24px;
}
.tableSilverNum {
  width: 220px;
}
.tableGoldNum {
  width: 220px;
}
.tablePlatinium {
  width: 220px;
}

.tableTitleStyle {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #1e2837;
}

.tableTextStyle {
  display: flex;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #797a80;
  gap: 12px;
}
.buttonContainer {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  margin-bottom: 100px;
  margin-top: 32px;
  margin-right: 140px;
}
.button {
  width: 262px;
  height: 64px;
  border-radius: 8px;
  background-color: #ffff;
  border: 1px solid #dcdddf;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #1e2837;
}
.buttonActive {
  width: 262px;
  height: 64px;
  border-radius: 8px;
  background-color: #3a74d2;
  border: 1px solid #dcdddf;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #ffff;
}

/* checkout modal style */
.cardCheckoutModalContiner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 30px 25px 20px 25px;
  width: 300px;
}
.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 41;
  margin-bottom: 79px;
}
.checkoutTitleStyle {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  color: #1e2837;
}
.documentLink {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #1e2837;
  margin-bottom: 7px;
  margin-top: -33px;
}
.documentLinkStyle {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #3a74d2;
}

.inputStyle {
  margin-top: 32px;
  margin-bottom: 8px;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #1e2837;
}
.inputFieldStyle {
  display: flex;
  flex-direction: row;
  height: 44px;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  text-align: left;
  color: #797a80;
  background-color: #fff;
}
.inputFieldStyle input {
  margin: 0;
  flex-basis: 70%;
  flex-grow: 1;
  flex-shrink: 0;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 18px 20px;
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  text-align: left;
}

.checkoutButtonContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 24px;
}
.checkoutButton {
  width: 165px;
  height: 44px;
  background: #3a74d2;
  border-radius: 5px;
  font-family: "Graphik";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
  color: #ffffff;
  border: none;
}
.select {
  border: 1px solid #e5e5e5;
  position: relative;
  display: inline-block;
  height: 44px;
  justify-content: center;
  width: 100%;
  border-radius: 5px;
  background-color: transparent;
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  color: #797a80;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.selectBody {
  display: flex;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #797a80;
  padding: 10px;
  padding-left: 20px;
}
.datePickerlabelStyle {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #1e2837;
}

.headerBg{
  position: relative;
  background-color: #F7F9FB;
  width: 60vh;
  height: 349px;
}

.doc {
  position: absolute;
  top:0;
  right: 60%;
  background-repeat:no-repeat;
  background-size: contain;
  width: 357px;
  height: 372px;
  margin-top:-23px;
}

.wdoc {
  position: absolute;
  top:0;
  background-repeat:no-repeat;
  background-size: contain;
  width: 465px;
  height: 349px;
  right: 0;
}

@media only screen and (max-width: 767px) {
  .headerContainer {
    flex-direction: column;
    margin-bottom:0px;
  }
  .headerContainerLeft {
    order:2;
    margin:0 20px 0;
  }
  .headerContainerRight {
    order:1;
    margin-bottom:37px;
  }
  .headerContainerTitle {
    font-size: 18px;
    justify-content: flex-start;
    margin-bottom:30px;
  }
  .buyCardStep {
    margin:0;
  }
  .buyCardStep div {
    margin-bottom:30px;
  }
  .chooseCardContainer{
    display: none;
  }
  .checkoutTitleStyle {
    margin-bottom:20px;
  }
  .headerTool {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .documentLink {
    margin-top:10px;
  }
}