.container {
	display: flex;
	flex-direction: column;
	padding-top: 42px;
}
.firstPart {
	display: block;
	margin: auto;
	width: calc(100% - 0px);
	max-width: calc(1440px - 100px);
}
.headerContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-color: #f7f9fb;
	padding-top: 94px;
	padding-left: 92px;
	height: 495px;
	margin-bottom: 72px;
}
.headerContainerTitle {
	display: flex;
	justify-content: center;
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 46px;
	line-height: 28px;
	color: #1e2837;
	margin-bottom: 20px;
}
.buyCardStep {
	display: flex;
	flex-direction: column;
	margin-top: 74px;
	margin-bottom: 36px;
}
.itemPriceAndLength {
	margin-top: -35px;
}
.headerContainerNumber {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 33px;
	color: #3a74d2;
	margin-right: 24px;
}
.headerContainerText {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 28px;
	color: #797a80;
}
.headerContainerRight {
	margin-bottom: 94px;
}
.switcher {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-bottom: 48px;
}

.cardImgContainer {
	display: flex;
	justify-content: center;
	width: 100%;
	gap: 63.06px;
	margin-bottom: 60px;
}
/* table  */

.table {
	display: flex;
	flex-direction: row;
	width: 1159px;
	border-bottom: 1px solid #d8dadc;
	padding-bottom: 19px;
	margin: auto;
}
.tableHeader {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.tableColumnTitle {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin-left: 203px;
	gap: 203px;
}
.columnTitleContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.clinicTitleStyles {
	font-family: 'Avenir Next Bold';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 28px;
	color: #1e2837;
}
.tablePriceTitleStyles {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 27px;
	color: #5e70da;
	padding-bottom: 14px;
}
.tableDataTitleStyles {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 27px;
	color: #797a80;
}
.tableContentContainer {
	display: flex;
	flex-direction: column;
	/* width: 1159px; */
	margin: auto;
}
.listofCats {
	width: 883px;
	overflow: hidden;
	margin: auto;
	margin-bottom:300px;
}
.tableContentContainer:nth-child(2n) .categorieTitle {
	padding: 16px 32px;
	background: #F7F8FA;
	border-radius: 12px;
}
.customOptContainer {
	display: flex;
	flex-direction: column;
	gap: 12.17px;
}
.titleArrowTransform {
	transform: rotate(180deg);
}
.clinicNameStyle {
	display: flex;
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	color: #1e2837;
	gap: 5px;
}
.serviceCustomOptList {
	display: none;
}
.serviceCustomoptions {
	display: flex;
	/* position: absolute; */
	/* margin-top: 2px; */
	/* width: 204px; */
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	color: #797a80;
}
.serviceCustomoptions div {
	padding: 12px 0px 12px 28px;
	cursor: pointer;
	border-bottom: 1px solid#fff;
}
.serviceCustomOpt {
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: #f7f9fb;
	border-radius: 5px;
	width: 204px;
	height: 64px;
	font-weight: 500;
	font-size: 16px;
	color: #1e2837;
	cursor: pointer;
}

.serviesOptions {
	display: flex;
	flex-direction: column;
	margin-right: 50px;
	margin-top: 24px;
	padding-left: 28px;
	cursor: pointer;
	border-bottom: 1px solid#fff;
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	color: #797a80;
}
.serviceOptionListStyle {
	/* margin-left: -180px; */
}

.serviceRow {
	display: flex;
	flex-direction: row;
	width: 1159px;

	margin: auto;
}
/* ahvd */
.chooseCardContainer {
	display: block;
	margin: auto;
	width: calc(100% - 0px);
	max-width: calc(1440px - 100px);
}

.tableTitle {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	border-bottom: 1px solid #d8dadc;
	margin-left: 140px;
	margin-right: 140px;
	height: 44px;
	margin-top: 70px;
}
.tableDataStyle {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	align-self: flex-start;
	height: 44px;
	border-bottom: 1px solid #d8dadc;
	margin-left: 140px;
	margin-right: 140px;
}
.tableDataTitleStyle {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	align-self: flex-start;
	height: 44px;
	margin-left: 140px;
	margin-right: 140px;
}

.tableFeature {
	width: 220px;
	margin-top: 24px;
	margin-bottom: 24px;
}
.tableSilverNum {
	width: 220px;
}
.tableGoldNum {
	width: 220px;
}
.tablePlatinium {
	width: 220px;
}

.tableTitleStyle {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 27px;
	color: #1e2837;
}
.tableTitleStyle div {
	margin-top: -30px;
}
.tableTitleStyle div span:nth-child(1) {
	color: #3a74d2;
}
.diffTab {
	margin-top: 55px;
}
.tableTextStyle {
	display: flex;
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #797a80;
	gap: 12px;
}
.buttonContainer {
	display: flex;
	justify-content: flex-end;
	gap: 30px;
	margin-bottom: 100px;
	margin-top: 32px;
	margin-right: 140px;
}
.button {
	width: 262px;
	height: 64px;
	border-radius: 8px;
	background-color: #ffff;
	border: 1px solid #dcdddf;
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 22px;
	color: #1e2837;
}
.buttonActive {
	width: 262px;
	height: 64px;
	border-radius: 8px;
	background-color: #ffbbb6;
	border: 1px solid #dcdddf;
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 22px;
	color: #1e2837;
	cursor: pointer;
}

/* checkout modal style */
.cardCheckoutModalContiner {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: 30px 25px 20px 25px;
	width: 300px;
}
/* .headerContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 41;
	margin-bottom: 79px;
	height: 372px;
} */
.checkoutTitleStyle {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 24px;
	color: #1e2837;
}
.documentLink {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 24px;
	color: #1e2837;
	margin-bottom: 7px;
	margin-top: -33px;
}
.documentLinkStyle {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 24px;
	color: #3a74d2;
}

.inputStyle {
	margin-top: 32px;
	margin-bottom: 8px;
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 19px;
	color: #1e2837;
}
.inputFieldStyle {
	display: flex;
	flex-direction: row;
	height: 44px;
	width: 100%;
	border: 1px solid #e5e5e5;
	border-radius: 5px;
	font-size: 14px;
	font-weight: 500;
	line-height: 19px;
	text-align: left;
	color: #797a80;
	background-color: #fff;
}
.inputFieldStyle input {
	margin: 0;
	flex-basis: 70%;
	flex-grow: 1;
	flex-shrink: 0;
	width: 100%;
	border: none;
	outline: none;
	border-radius: 5px;
	padding: 18px 20px;
	font-size: 14px;
	font-weight: 500;
	line-height: 19px;
	text-align: left;
}

.checkoutButtonContainer {
	display: flex;
	justify-content: flex-end;
	margin-top: 24px;
}
.checkoutButton {
	width: 165px;
	height: 44px;
	background: #3a74d2;
	border-radius: 5px;
	font-family: 'Graphik';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 15px;
	color: #ffffff;
	border: none;
}
.select {
	border: 1px solid #e5e5e5;
	position: relative;
	display: inline-block;
	height: 44px;
	justify-content: center;
	width: 100%;
	border-radius: 5px;
	background-color: transparent;
	font-size: 14px;
	font-weight: 500;
	line-height: 19px;
	color: #797a80;
	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.buyDropDown {
	width: 198px;
	height: 52px;
}
.dropDownList {
	display: flex;
	flex-direction: column;
	font-family: 'Avenir Next Georgian';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	color: #1e2837;
	gap: 24px;
	margin-bottom:10px;
	padding: 24px 36px;
	margin-top:-7px;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
}
.tableContentContainer:nth-child(2n) .dropDownList {
	background-color: #F7F8FA;
}
.finalPrice {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 57px;
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 34px;
	line-height: 27px;
	color: #5e70da;
}
.tableFackData {
	display: flex;
	gap: 203px;
	justify-content: flex-end;
}
.nameIconCont {
	width: 353px;
}
.nameIconCont span:nth-child(2){
	cursor: pointer;
	transform: scale(.8);
}
.nameIconTitle {
	margin-right: 21px;
}
.categorieTitle {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	padding: 16px 32px;
	gap: 5px;
	font-family: 'Avenir Next Georgian';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	color: #1E2837;
}
.selectBody {
	display: flex;
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 19px;
	color: #797a80;
	padding: 10px;
	padding-left: 20px;
}
.datePickerlabelStyle {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 19px;
	color: #1e2837;
}

.headerBg {
	position: relative;
    width: 612px;
    height: 485px;
    background-image: url('/doctors.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 50px;
    top: -85px;
}

.doc {
	position: absolute;
	top: 0;
	right: 60%;
	background-repeat: no-repeat;
	background-size: contain;
	width: 357px;
	height: 372px;
	margin-top: -23px;
}

.wdoc {
	position: absolute;
	top: 0;
	background-repeat: no-repeat;
	background-size: contain;
	width: 465px;
	height: 349px;
	right: 0;
}
.headerContainerLeft {
	margin-top: 52px;
}

.buyCardStep div {
	margin-bottom: 36px;
}

.customOptList {
	display: none;
}
.customoptions {
	display: block;
	position: absolute;
	background-color: #f7f9fb;
	margin-top: 2px;
	width: 204px;
}
.customoptions div {
	padding: 10px;
	cursor: pointer;
	border-bottom: 1px solid#fff;
}
.customOpt {
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: #f7f9fb;
	border-radius: 5px;
	width: 204px;
	height: 64px;
	font-weight: 500;
	font-size: 16px;
	color: #1e2837;
	cursor: pointer;
}
.arrowTransform {
	margin-top: 10px;
	transform: rotate(180deg);
}
.customDropdown {
	display: flex;
	flex-direction: row;
	position: relative;
	align-items: center;
	gap: 15px;
}
.price {
	color: #3a74d2;
	margin-top: 18px;
}
.forMobile {
	display: none;
}
.cardsContainer {
	position: relative;
	max-width: 1212px;;
	height: 287px;
	display: flex;
	justify-content: space-around;
	gap: 64px;
	margin: auto;
}
.cardsBlock {
	background: #ED713C;
	border-radius: 24px;
	width: 343px;
	height: 201px;
	overflow: hidden;
	position: relative;
	transition: 0.8s;
}

.cardOverview {
	position: absolute;
	width: 343px;
	height: 201px;
	z-index:2;
	user-select: none;
	cursor: pointer;
}

.cardPrice {
	position: absolute;
	background: #FF1C00;
	border-radius: 24px 0px 12px;
	left: 0;
	top: 0;
	padding: 13px 24px;
	font-family: 'Avenir Next Georgian';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	color: #FFFFFF;
}

.cardDisplayName {
	position: absolute;
	left:50%;
	top:50%;
	transform: translate(-50%, -50%);
	font-family: 'Avenir Next Georgian';
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	color: #383838;
}

.buyNow {
	position: absolute;
	bottom:0;
	height: 0;
	background-color: red;
	width: 100%;
	text-align: center;
	color: white;
	transition: 0.8s;
	visibility: hidden;
	font-family: 'Avenir Next Georgian';
	color: #fff;
	cursor: pointer;
}

.cardsBlock:hover {
	height: 241px;
	transform: scale(1.1);
	transition: 0.8s;
}

.cardsBlock:hover .buyNow {
	padding: 10px;
	height: 45px;
	transition: 0.8s;
	visibility: visible;
}
@media only screen and (max-width: 1180px) {
	.forMobile {
		display: block;
	}
	.firstPart {
		/* width: calc(100% - 32px); */
	}
	.headerBg {
		margin: 0;
		width: 100%;
		/* height: 238px; */
	}
	.headerContainer {
		display: block;
		flex-direction: column;
		margin-bottom: 0px;
		overflow: hidden;
		display: table;
		width: 100%;
	}
	.headerContainerLeft {
		order: 2;
		margin: 0 20px 0;
		display: table-footer-group;
	}
	.headerContainerRight {
		order: 1;
		margin-bottom: 37px;
	}
	.headerContainerTitle {
		font-size: 18px;
		justify-content: flex-start;
		margin-bottom: 30px;
	}
}

@media only screen and (max-width: 767px) {
	.forMobile {
		display: block;
	}
	.firstPart {
		width: calc(100% - 32px);
	}
	.headerBg {
		margin: 0;
		width: 100%;
		height: 238px;
	}
	.headerContainer {
		display: block;
		flex-direction: column;
		margin-bottom: 0px;
		overflow: hidden;
		display: table;
		width: 100%;
	}
	.headerContainerLeft {
		order: 2;
		margin: 0 20px 0;
		display: table-footer-group;
	}
	.headerContainerRight {
		order: 1;
		margin-bottom: 37px;
	}
	.headerContainerTitle {
		font-size: 18px;
		justify-content: flex-start;
		margin-bottom: 30px;
	}
	.buyCardStep {
		margin: 0;
	}
	.buyCardStep div {
		margin-bottom: 30px;
	}
	.chooseCardContainer {
		display: none;
	}
	.checkoutTitleStyle {
		margin-bottom: 20px;
	}
	.headerTool {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: flex-start;
	}
	.documentLink {
		margin-top: 10px;
	}
}
