.cardItemContainer {
  display: flex;
  flex-direction: column;
  width: 323px;
  height: 486px;
  border: 1px solid #efefef;
  margin-top: 64px;
}

.clinicPageCardListContainer {
  display: flex;
  justify-content: center;
  gap: 95px;
  margin-bottom: 153px;
}
.imgPart {
  position: relative;
}
.ratingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  gap: 6.67px;
  margin-top: 20px;
  margin-left: 16px;
  width: 71px;
  height: 28px;
  border-radius: 14px;
  background-color: #ffffff;
  color: #3a74d2;
  z-index: 999;
}
.clinicNameText {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21.79px;
  color: #1e2837;
  margin-left: 18px;
  margin-top: 20px;
  margin-bottom: 29px;
}

.clinicWorkingHours {
  display: flex;
  justify-content: center;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #3a74d2;
  width: 221px;
  height: 28px;
  background-color: rgba(58, 116, 210, 0.1);
  border-radius: 14px;
  margin-left: 18px;
  margin-bottom: 28px;
}

.clinicAddressText {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #797a80;
  margin-left: 18px;
}
.backButton {
  display: flex;
  flex-direction: row;
  margin-top: 68px;
  margin-bottom: 80px;
  margin-left: 139.25px;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21.79px;
  color: #3a74d2;
}

.clinicFilterContainer {
  display: flex;
  justify-content: space-between;
  margin-left: 135px;
  margin-right: 139px;
}
.clinicsTitleTextStyle {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 28px;
  color: #1e2837;
  padding-left: 2px;
}
.filterButtonStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 188px;
  height: 44px;
  border-radius: 5px;
  border: 1px solid #efefef;
  background-color: #ffffff;
  gap: 14px;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #1e2837;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 41;
  margin-bottom: 79px;
  margin-right: 45px;
}

.filterTitleStyle {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  color: #1e2837;
}
.searchInput {
  display: flex;
  justify-content: space-around;
  align-items: "center";
  background-color: #ffffff;
  padding-left: 14px;
  width: 340px;
  height: 44px;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  margin-bottom: 59px;
}
.searchInput input {
  border: none;
  width: 270px;
}
.searchInput input:focus {
  outline: none;
}
.searchInput img {
  display: flex;
  align-items: center;
  width: 24px;
  margin-right: 10px;
}
.filterInputTitle {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19.07px;
  color: #1e2837;
  margin-bottom: 8px;
}
.dropDownFilterContainer {
  display: flex;
  flex-direction: column;
}
.inputStyle {
  width: 340px;
  height: 44px;
  border-radius: 10px;
  border: 1px solid #e5e5e5;
  padding-left: 14px;
  margin-bottom: 32px;
}
.buttonContainer {
  display: flex;
  flex-direction: row;
  gap: 14px;
}
.clearButton {
  width: 163px;
  height: 44px;
  border-radius: 5px;
  border: 1px solid #efefef;
  margin-top: 150px;
  background-color: #ffffff;
  font-family: "Graphik";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
  color: #1e2837;
}
.filterButton {
  width: 163px;
  height: 44px;
  border-radius: 5px;
  border: 1px solid #efefef;
  margin-top: 150px;
  background-color: #3a74d2;
  font-family: "Graphik";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
  color: #ffffff;
}

.branchPage {
  overflow: hidden;
}
.filterForResp {
  display: none;
}

@media only screen and (max-width: 600px) {
  .clinicPageCardListContainer {
    flex-direction: column;
    gap:14px;
    padding:0 20px;
    margin-bottom: 42px;
  }
  .backButton, .clinicFilterContainer {
    margin:0px;
  }
  .clinicFilterContainer {
    margin:26px 16px 20px;
  }
  .filterForResp {
    display: block;
    background-color: transparent;
    border:none;
    outline:none;
    cursor:pointer;
  }
  .filterButtonStyle {
    display: none;
  }
  .branchTool {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
  }
  .cardItemContainer {
    margin:0;
    width: 100%;
  }
  .imgPart > span {
    width: 100%!important;
  }
  .branchPage ul {
    margin-bottom:0px;
    margin-top:0;
    justify-content: flex-start;
  }
  .modalPopup {
    width: 100%!important;
  }
  .headerContainer {
    margin-top:20px;
    margin-left:20px;
  }
  .searchInput {
    margin-bottom: 32px;
  }
  .buttonContainer {
    position: absolute!important;
    bottom: 0;
    margin-bottom: 50px;
  }
}