.container {
	position: relative;
	cursor: pointer;
}

.header {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 146px;
	height: 48px;
	gap: 16px;
	border: none;
	border-radius: 30px;
	padding: 2px;
	background: #f7f9fb;
	border-radius: 5px;
}
.headerMobile {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 12px;
	height: 45px;
	gap: 8px;
	border: none;
	border-radius: 30px;
	padding: 2px;
}
.textInfo {
	display: flex;
	gap: 17px;
	font-family: 'Noto Sans';
	font-size: 14px;
	margin-right: 5px;
	width: 24px;
}
.textInfo img {
	width: 24px;
    height: 18px;
}
.selected {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	color: #1e2837;
}
.itemsContainer {
	width: 100%;
	left: 0px;
	top: 100%;
	position: absolute;
	background: #ffffff 0% 0% no-repeat padding-box;
	overflow: hidden;
	border-radius: 8px;
	max-height: 300px;
	z-index: 99999;
	margin-top: 6px;
	border: none;
}
.itemsWrap {
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	max-height: 300px;
}
.item {
	gap: 16px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 21px;
	background: #f7f9fb;
	display: flex;
}
.itemText {
	font-family: 'Noto Sans';
	font-size: 14px;
	letter-spacing: 0px;
	color: #4b4453;
}
.noBorder * {
	border: none !important;
}
.noBorder .icon {
	display: none;
}
.icon {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	overflow: hidden;
	width: 9px;
}
