html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	background-color: #ffff;
	overflow: unset !important;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
@font-face {
	font-family: 'Noto Sans';
	src: url('../components/fonts/NotoSans/NotoSans-Regular.ttf');
}

@font-face {
	font-family: 'Graphik';
	src: url('../components/fonts/Graphik/GraphikRegular.otf');
}
@font-face {
	font-family: 'Avenir Next Georgian';
	src: url('../components/fonts/Avenir Georgian/AvenirNextGeorgian-Regular.otf');
}
@font-face {
	font-family: 'Avenir Next Georgian Medium';
	src: url('../components/fonts/Avenir Georgian/AvenirNextGeorgian-Medium.otf');
}
@font-face {
	font-family: 'Avenir Next Bold';
	src: url('../components/fonts/Avenir Georgian/AvenirNextGeorgian-Bold.otf');
}
@font-face {
	font-family: 'Sofia Pro';
	src: url('../components/fonts/sofiapro/Fonts/sofiapro-light.otf');
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

.dot {
	background-color: #d9d9d9 !important;
	opacity: 1;
}

.carousel .control-dots {
	bottom: -35px !important;
	z-index: -1;
	top: 465px;
	height: 20px;
}

.carousel .control-dots .dot.selected {
	position: relative;
	background-color: #3a74d2 !important;
	box-shadow: 0 0 0 !important;
}

.carousel .control-dots .dot {
	opacity: 1 !important;
	box-shadow: 0 0 0 !important;
}

.carousel .control-dots .dot.selected:after {
	content: '';
	left: 0;
	position: absolute;
	border: 1px solid #3a74d2;
	/* width: 10px;
	height: 10px; */
	/* border-radius: 50%;
	margin-top: -2px;
	margin-left: -2px; */
}

.carousel.carousel-slider {
	overflow: unset !important;
}

.carousel .thumbs-wrapper {
	display: none;
}

.carousel .slider-wrapper.axis-horizontal .slider .slide {
	flex-direction: column;
	flex-flow: column;
}
.carousel .slide img {
	vertical-align: top;
	border: 0;
}
.carousel .slide {
	min-width: 100%;
	margin: 0;
	position: relative;
	text-align: start !important;
}

.carousel.carousel-slider .control-arrow {
	top: 0;
	color: #fff;
	font-size: 26px;
	bottom: 0;
	margin-top: 0;
	padding: 5px;
	display: none;
}

.swiper {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	overflow: hidden;
	list-style: none;
	padding: 0;
}

.swiper-slide {
	border-radius: 0 0 8px 8px;
	overflow: hidden;
}

.ant-form-item-label > label {
	position: relative;
	display: inline-flex;
	align-items: center;
	height: 32px;
	color: rgba(0, 0, 0, 0.85);
	font-size: 14px;
	white-space: nowrap;
}

.accountForm .ant-col-16 {
	width: 100%;
	flex: unset !important;
	max-width: unset !important;
}

.accountForm .ant-col-8 {
	max-width: 100%;
}
.ant-form-item-control-input-content {
	flex: auto;
	max-width: 100%;
	display: flex;
	justify-content: flex-end;
}
.accountForm .ant-select:not(.ant-select-customize-input) .ant-select-selector {
	position: relative;
	background-color: #fff;
	border: 1px solid #d9d9d9;
	border-radius: 5px;
	transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	height: 43px;
	width: 100%;
	display: flex;
	align-items: center;
}

.accountForm .ant-input-group .ant-input {
	float: left;
	width: 100%;
	margin-bottom: 0;
	text-align: inherit;
	height: 43px;
}

/* lazy load doctor image */

.lazy-load-image-background.blur.lazy-load-image-loaded > img {
	opacity: 1;
	transition: opacity 0.3s;
	height: 100%;
	max-height: 286px;
	display: flex;
	object-fit: contain;
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
	bottom: 20px;
	left: 0;
	width: 100%;
}
.swiper-horizontal
	> .swiper-pagination-bullets.swiper-pagination-bullets-dynamic
	.swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic
	.swiper-pagination-bullet {
	transition: 0.2s transform, 0.2s left;
	left: 0px;
	height: 12px;
	width: 12px;
}
.ant-switch-checked .ant-switch-handle {
	left: calc(100% - 24px - 2px) !important;
}
.ant-switch-handle {
	position: absolute;
	top: 2px;
	left: 2px;
	width: 24px !important;
	height: 24px !important;
	transition: all 0.2s ease-in-out;
}

.ant-switch-handle::before {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #fff;
	border-radius: 13px !important;
	box-shadow: 0 2px 4px 0 rgb(0 35 11 / 20%);
	transition: all 0.2s ease-in-out;
	content: '';
}
.ant-tooltip-inner {
	display: flex !important;
	justify-content: center !important;
	min-width: 256px !important;
	min-height: 74px !important;
	padding: 16px !important;
	color: rgba(56, 56, 56, 0.6) !important;
	text-decoration: none;
	word-wrap: break-word;
	text-align: center !important;
	background-color: white !important;
	border-radius: 12px !important;
	box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%),
		0 9px 28px 8px rgb(0 0 0 / 5%);
}
.ant-tooltip-arrow-content {
	--antd-arrow-background-color: linear-gradient(
		to right bottom,
		rgb(255, 255, 255),
		rgb(255, 255, 255)
	) !important;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: block;
	width: 11.3137085px;
	height: 11.3137085px;
	margin: auto;
	content: '';
	pointer-events: auto;
	border-radius: 0 0 9px;
	pointer-events: none;
}

@media only screen and (max-width: 1290px) {
	.carousel .control-dots {
		display: none;
	}
	#bwc-widget-action {
		bottom: 13px !important;
	}

	.active #bwc-widget-action {
		bottom: 96px !important;
	}
}

@media only screen and (max-width: 767px) {
	.carousel .control-dots {
		display: none;
	}
	.swiper-horizontal
		> .swiper-pagination-bullets.swiper-pagination-bullets-dynamic
		.swiper-pagination-bullet,
	.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic
		.swiper-pagination-bullet {
		transition: 0.2s transform, 0.2s left;
		background-color: white !important;
	}
	.swiper-horizontal
		> .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
	.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
		left: 50%;
		transform: translateX(-50%);
		white-space: nowrap;
		padding-bottom: 20px;
		bottom: 0;
	}
	#bwc-widget-action {
		bottom: 13px !important;
	}

	.active #bwc-widget-action {
		bottom: 96px !important;
	}
	#branchMobileSize .swiper-wrapper {
		/* padding-left: 16px !important; */
		/* padding-right: 16px !important; */
		margin-right: 16px !important;
		margin-left: 16px !important;
	}
}
