.homePageContainer {
	background-color: #ffffff;
	/* margin: auto;
	width: calc(100% - 0px);
	max-width: calc(1440px - 0px); */
}

.catalogTextStyle {
	font-family: 'Avenir Next Georgian';
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 23px;
	color: #01261c;
	cursor: pointer;
	transition: 0.4s;
}

.dropDownContainer {
	height: 200px;
	background-color: rgb(213, 164, 188);
	margin: auto;
	width: calc(100% - 100px);
	max-width: calc(1440px - 100px);
}

.showSlider {
	margin: auto;
	width: calc(100% - 100px);
	max-width: calc(1440px - 0px);
}
.showSliderForMobile {
	display: none;
}
.slide {
	padding-right: 29px;
}
.firstPart {
	margin: auto;
	width: 1440px;
	max-width: calc(100% - 0px);
}

.firstPartImg {
	display: flex;
	justify-content: space-between;
	gap: 29px;
}
.firstPartImg img {
	width: 310px;
	height: 195px;
	border-radius: 5px;
}

.cardItemContainer {
	display: inline-block;
	flex-direction: column;
	/* margin: auto; */
	height: 0px;
	width: 0px;
	overflow: hidden;
	position: relative;
	cursor: pointer;
}

.docskeleton {
	width: 313px;
    height: 403px;
	margin-right: 0px!important;
	border: 1px solid #d8d8d8;
	border-radius: 12px;
}

.doctorSkelton {
	margin-right:0px!important;
	margin-left: 0px!important;
}

.docskeltonImage {
	display: flex;
	justify-self: center;
	align-items: center;
} 

.docskeltonImage img {
	width: 100%;
}

.docskeltonTitles {
	display: flex;
	flex-direction: column;
	gap:10px;
	padding: 0 20px;
	margin-top: 18px;
}

.docskeleton img {
	height: 286px;
}

.append {
	width: auto;
	height: auto;
}

.clinicCardItem {
	display: flex;
	gap: 2%;
}

.imgPart {
	width: 313px;
	height: 194px;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
}
.imgPart img {
	object-fit: cover;
}
.doctorPhotoContainer {
	position: relative;
	width: 100%;
	height: 280px;
	overflow: hidden;
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

.cardDescription {
	height: 97px;
}
.doctorItem {
	/* width: 24%; */
	width: 0px;
	height: 0px;
	margin-bottom: 15px;
	/* overflow: hidden; */
}
.docImage {
	width: 313px;
	height: 286px;
	object-fit: cover;
	background-color: #01261c;
}
.clinicCardContainer {
	display: flex;
	flex-direction: column;
	margin-top: 72px;
	background-color: #F7F9FB;
	padding-top: 38px;
	position: relative;
	overflow: hidden;
}
.clinicCardContainer:before {
	content: '';
	position: absolute;
	background-image: url('/bird2.svg');
	left:0;
	top:0;
	width: 438.4px;
	height: 571px;
	margin-top: -100px;
}
.clinicCardContainerTitle {
	display: flex;
	flex-direction: column;
	/* margin: 77px 165px 39px 125px; */
}
.arrows {
	display: flex;
	justify-content: space-between;
	padding-bottom: 14px;
	margin: auto;
	width: calc(100% - 0px);
	max-width: calc(1440px - 100px);
}
.arrowsIcons {
	display: flex;
	gap: 24px;
}
.clinicCardList {
	display: flex;
	justify-content: flex-start;
	width: 100%;
	overflow: unset;
	flex-wrap: wrap;
	gap: 29px;
	margin: auto;
	width: calc(100% - 0px);
	max-width: calc(1440px - 100px);
}
.cardRatingStar {
	filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(25deg)
		brightness(105%) contrast(250%);
}
.percentContainer {
	position: absolute;
	width: 71px;
	top: 218px;
	height: 28px;
	background-color: #ff5954;
	display: flex;
	justify-content: center;
	align-items: center;
	left: 0;
	border-radius: 0px 14px 14px 0px;
	padding: 0 16px;
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 14px;
	color: #ffffff;
}
.serviceTextStyle {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 21.79px;
	color: #3a74d2;
	margin-bottom: 20px;
}
.ourClinicTextStyle {
	font-family: 'Avenir Next Bold';
	font-style: normal;
	font-weight: 300;
	font-size: 26px;
	line-height: 28px;
	color: #1e2837;
	/* margin-top: 72px; */
	height: 38px;
}
.ourDoctorTextStyle {
	font-family: 'Avenir Next Bold';
	font-style: normal;
	font-weight: 300;
	font-size: 26px;
	line-height: 28px;
	color: #1e2837;
	margin-top: 72px;
	height: 38px;
}
.clinicNameText {
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	color: #1e2837;
	line-height: 21.79px;
	color: #1e2837;
	margin-top: 18px;
	text-align: left;
	margin: 12px 0 10px;
	width: 100%;
	-webkit-line-clamp: 2;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
.clinicAddressText {
	font-family: 'Noto Sans', 'Avenir Next Georgian';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	color: #797a80;
	margin-top: 10px;
	display: flex;
	align-items: center;
	gap: 8px;
	width: 100%;
	-webkit-line-clamp: 2;
	/* display: -webkit-box; */
	-webkit-box-orient: vertical;
	overflow: hidden;
}
.clinicAddressText img {
	margin-right: 10px;
}
.ratingContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	gap: 6.67px;
	margin-top: 16px;
	margin-left: 16px;
	width: 71px;
	height: 28px;
	border-radius: 14px;
	background-color: rgba(58, 116, 210, 0.2);
}
.ratingContainer span {
	color: #fff;
}
.doctorItemContainer {
	display: flex;
	flex-direction: column;
	border: 1px solid #d8d8d8;
	border-radius: 5px;
	position: absolute;
	overflow: hidden;
	width: 0px; /*313px*/
	height: 0px;/*403px*/
	border-radius: 12px;
	z-index:-1;
}
.appendDoc {
	width: 313px;
	height: 403px;
	position: relative;
	z-index:1;
}
.doctorNameText {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 24.52px;
	color: #1e2837;
	text-align: left;
	-webkit-line-clamp: 2;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
.contentContainer {
	display: flex;
	flex-direction: column;
	padding: 20px 24px;
	gap: 8px;
}
.doctorSpecialityText {
	font-family: 'Noto Sans', 'Avenir Next Georgian';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #797a80;
	/* text-align: left; */
	-webkit-line-clamp: 2;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
.iconsContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 90%;
	border-top: 1px solid #d8d8d8;
	height: 45px;
	margin: 10px 10px 10px 10px;
}

.iconsContainer img {
	padding-right: 35px;
	padding-left: 36px;
	margin-top: 10px;
	border-right: 1px solid #d8d8d8 !important;
	height: 22px;
}
.iconsContainer img:nth-child(2) {
	border-right: 0px !important;
}

.iconsContainer img:nth-child(3) {
	border-right: 1px solid #ffff !important;
}

.doctorCardList {
	display: flex;
	justify-content: flex-start;
	width: 100%;
	overflow: unset;
	flex-wrap: wrap;
	gap: 29px;
	margin: auto;
	width: calc(100% - 0px);
	max-width: calc(1440px - 100px);
}

/*carousel*/
.carousel {
	width: 100% !important;
	height: 97px;
	margin-bottom: 72px;
	margin: auto;
	width: calc(100% - 0px);
	max-width: calc(1440px - 100px);
}

.carousel button:nth-child(3) {
	position: absolute !important;
	top: 0 !important;
	right: 0 !important;
	margin-top: -45px !important;
	background: transparent !important;
	opacity: 1 !important;

	border: none;
	cursor: pointer;
}

.carousel button:nth-child(3):before {
	background-image: url('../public/arrowRightSlider.svg');
	background-repeat: no-repeat;
	width: 21px;
	height: 19px;
	border: none !important;
}

.carousel button:nth-child(1) {
	position: absolute !important;
	top: 0 !important;
	right: 0 !important;
	left: unset !important;
	margin-right: 33px;
	margin-top: -44.5px !important;
	background: transparent !important;
	opacity: 1 !important;

	border: none !important;
	cursor: pointer;
}

.carousel button:nth-child(1):before {
	background-image: url('../public/arrowLeftSlider.svg');
	background-repeat: no-repeat;
	width: 21px;
	height: 19px;
	border: none !important;
}

/* services */

.serviceContainerImg {
	display: flex;
	flex-direction: row;
	gap: 30px;
	padding-top: 72px;
	margin: auto;
	width: calc(100% - 0px);
	max-width: calc(1440px - 100px);
	overflow: hidden;
}

.serviceContainer {
	width: 100%;
	overflow: hidden;
}

.serviceContainerImg img {
	width: 50%;
	border-radius: 12px;
}

.serviceContainerContent {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 103px;
	margin: 80px 0;
}
.leftSideContent {
	display: flex;
	flex-direction: column;
	width: 55%;
}
.leftSideContentText {
	height: 164px;
	/* margin-left: 139px; */
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
	color: #797a80;
}
.servicesTitle {
	margin-bottom: 24px;
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 22px;
	color: #3a74d2;
}
.ourServicesTitle {
	margin-bottom: 24px;
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 28px;
	color: #1e2837;
}
.registrationButton {
	margin-top: 41px;
	width: 146px;
	height: 48px;
	background-color: #1e2837;
	color: #ffff;
	border-radius: 5px;
}
.registrationButtonResp {
	display: none;
}
.rightSideContent {
	display: flex;
	flex-direction: column;
	gap: 24px;
	width: 40%;
}
.servicesCard {
	display: flex;
	flex-direction: column;
	gap: 20px;
	border-radius: 5px;
	padding: 18px;
	cursor: pointer;
	border: 1px solid transparent;
	transition: 0.3s;
}
.servicesCard:hover {
	border: 1px solid rgba(30, 40, 55, 0.1);
}
.servicesCard:hover .servicesCardTitle {
	color: #3a74d2;
}
.servicesInfo {
	display: flex;
	flex-direction: column;
}
.servicesCardSecond {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 268px;
	border: 1px solid rgba(30, 40, 55, 0.1);
	gap: 20px;
	padding-left: 10px;
	margin-right: 20px;
	margin-bottom: -80px;
	border-radius: 5px;
}
.servicesCardSecond img {
	width: 40px;
	height: 40px;
}
.servicesCard img {
	width: 40px;
	height: 40px;
}

.servicesCardTitle {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 21px;
	line-height: 29px;
	color: #1e2837;
}
.servicesCardTitleActive {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 21px;
	line-height: 29px;
	color: #3a74d2;
}
.servicesCardText {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #797a80;
}
.rightSideContentCards {
	display: flex;
	flex-direction: row;
	margin-top: 100px;
	flex-direction: column;
}

/* benefits */
.benefitsContainer {
	display: flex;
	flex-direction: column;
	margin-top: 25px;
	padding: 70px 0;
}
.benefit {
	background-color: #f7f9fb;
}
.benefits {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.benefitsContainerImg {
	margin: 54.28px 31.29px 37px 0;
}
.benefitMainTitle {
	display: flex;
	justify-content: center;
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 46px;
	line-height: 63px;
	color: #1e2837;
}
.benefitCard {
	display: flex;
	flex-direction: column;
	margin-top: 40px;
}

.benefitCardRightSide {
	margin-top: 50px;
}
.benefitCardLeftSide {
	margin-top: 50px;
	margin-right: 100px;
	margin-left: 100px;
}
.benefitCardTitle {
	display: flex;
	justify-content: flex-start;
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 24.52px;
	color: #1e2837;
	margin-top: 12px;
	margin-bottom: 14px;
}
.benefitCardText {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #797a80;
}
/* card Price */
.cardPriceContainer {
	display: flex;
	flex-direction: column;
	margin-top: 32px;
	padding-bottom: 72px;
	margin: auto;
	width: calc(100% - 0px);
	max-width: calc(1440px - 100px);
}
.cardPriceContainer img {
	border-radius: 12px;
}
.cardOffersTitles {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.cardPriceTitle {
	margin-top: 56px;
	margin-bottom: 22px;
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 46px;
	line-height: 28px;
	color: #1e2837;
}
.cardPriceText {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 28px;
	color: #797a80;
	margin-bottom: 60px;
}
.cardSection {
	display: flex;
	flex-direction: row;
	gap: 44.54px;
}
.card {
	width: 31%;
	border-radius: 8px;
	border: 1px solid #dcdddf;
	padding-bottom: 44px;
}
.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 0 30px;
	margin-bottom: 38px;
}
.priceContainer {
	display: flex;
	flex-direction: column;
}
.cardImg {
	display: block;
	margin: 0 auto;
	margin-bottom: 54px;
	width: calc(100% - 52px);
}
.priceContainerTitle {
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 27px;
	color: #1e2837;
	margin-top: 34px;
	margin-bottom: 7px;
}
.priceNumber {
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 33px;
	color: #1e67d3;
	padding-top: 15px;
}
.priceContainerText {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #797a80;
}
.cardServices {
	margin-left: 50px;
	margin-bottom: 42px;
}
.servicePackage {
	margin-bottom: 15px;
}
.servicePackage img {
	margin-right: 10px;
}
.orderButton {
	display: block;
	margin: 0 auto;
	width: 280px;
	height: 48px;
	border: 1px solid #dcdddf;
	background-color: #ffffff;
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 22px;
	color: #1e2837;
	border-radius: 5px;
}
.orderButtonGold {
	display: block;
	margin: 0 auto;
	width: 280px;
	height: 48px;
	background-color: #3a74d2;
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 22px;
	color: #ffffff;
	border: none;
	border-radius: 5px;
}
.servicePackageText {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	color: #1e2837;
}
.recordingTimeText {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	color: #797a80;
}

.cardRating {
	position: absolute;
	top: 0;
	z-index: 3;
	background-color: #3a74d233;
	left: 0;
	margin: 16px 11px;
	border-radius: 14px;
	padding: 5px 11px;
	display: flex;
	align-items: center;
	gap: 6px;
}

.cardRating span {
	font-weight: 500;
	font-size: 16px;
	line-height: 14px;
	color: #fff;
}

.headerCardImg {
	width: 100%;
}

.showBtn {
	width: 220px;
	height: 48px;
	margin: 55px auto 72px auto;
	padding: 0 47px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #ffffff;
	border: 1px solid #efefef;
	font-family: 'Noto Sans', 'Avenir Next Georgian';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	color: #1e2837;
	cursor: pointer;
	border-radius: 12px;
}
.nonborder {
	border:0px!important;
}
.bottomImgMobile {
	display: none;
}
.firstPartImgForMobile {
	display: none;
}

.dropdown {
	width: 100%;
	background-color: #fff;
	overflow: hidden;
}

.dropdown ul {
	position: relative;
	background-color: #fff;
	border-top: 1px solid rgb(30, 40, 57, 10%);
	box-shadow: 0 0 0;
	width: calc(100% - 0px);
	max-width: calc(1440px - 100px);
	margin: 13px auto 0;
	padding-left: 338px;
	padding-top: 28px;
	height: 292px;
}

.dropdown ul:after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 312px;
	height: 280px;
	background-image: url('/dropdownicon.svg');
}

.dropdown ul li {
	display: inline-block;
	vertical-align: top;
	width: 33.333333%;
	overflow: hidden;
	margin-bottom: 32px;
	font-family: 'Avenir Next Georgian';
	font-weight: 500;
	font-size: 16px;
	line-height: 23px;
	color: #1e2837;
}

.dropdown ul li:hover {
	background-color: transparent;
	color: #ff1c00;
}
/* @media only screen and (min-width: 1460px) {
	.imgPart {
		height: 60%;
		background-color: #01261c;
	}
} */

.loader {
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: calc(100vh - 243px - 80px - 60px);
	position: relative;
}

.loader img {
	position: relative;
	animation: flew 15s infinite;
}

@keyframes flew {
	20% {transform: scale(1.1)}
	60% {transform: scale(1.2)}
	80% {transform: scale(1.1)}
	100% {transform: scale(1)}
}

@media only screen and (max-width: 1366px) {
	.firstPart {
		margin: auto;
		width: calc(100% - 100px);
		overflow-x: auto;
	}
	.catalogContainer {
		display: none;
	}
	.imgPart {
		/* height: 80%; */
	}
	.doctorCardList {
		display: flex;
		justify-content: flex-start;
		width: 100%;
		overflow: unset;
		flex-wrap: wrap;
		gap: 1.3%;
	}
}

@media only screen and (max-width: 767px) {
	.homePageContainer {
		width: 100%;
		overflow: hidden;
		background-color: #ffffff;
	}
	.catalogContainer {
		display: none;
	}
	/* slider */
	.showSlider {
		display: none;
	}
	.slide {
		padding-right: 0px;
	}
	.showSliderForMobile {
		display: flex;
		flex-direction: column;
		width: 100%;
		margin-top: 19px;
	}
	.medicalCardTitle {
		width: 100%;
		height: 88px;
		font-family: 'Noto Sans';
		font-style: normal;
		font-weight: 700;
		font-size: 28px;
		line-height: 44px;
		color: #1e2837;
		margin-top: 34px;
	}
	.medicalCardTitle span {
		display: block;
	}
	.medicalCardTitle span {
		display: block;
	}
	.medicalCardTitle a {
		color: #3a74d2;
		margin-bottom: 25px;
	}
	.medicalCardText {
		font-family: 'Noto Sans';
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 30px;
		color: #797a80;
		padding-bottom: 30px;
	}
	.medicalCardsButtons {
		display: flex;
		flex-direction: row;
		gap: 8px;
		border-bottom: 1px solid rgba(30, 40, 55, 0.1);
		padding-bottom: 30px;
		margin-top: 10px;
	}
	.orderBtn {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 167px;
		height: 48px;
		background: #ff1c00;
		border-radius: 5px;
		font-family: 'Noto Sans';
		font-style: normal;
		font-weight: 700;
		font-size: 16px;
		line-height: 22px;
		color: #ffffff;
		border: none;
	}
	.downloadOrderBtn {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 167px;
		height: 48px;
		background: #ffff;
		border-radius: 5px;
		font-family: 'Noto Sans';
		font-style: normal;
		font-weight: 700;
		font-size: 16px;
		line-height: 22px;
		color: #000000;
		border: 1px solid #efefef;
	}
	.firstPartImg {
		overflow-x: scroll;
		margin-top: 26px;
		margin-right: 14px;
		margin-left: 14px;
		display: none;
	}
	.firstPartImg img {
		width: 254px;
		height: 154px;
	}
	/* clinics services */
	.clinicCardList {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		flex-wrap: nowrap;
		overflow-x: scroll;
		overflow-y: hidden;
	}
	.clinicCardList::-webkit-scrollbar,
	.doctorCardList::-webkit-scrollbar {
		width: 0px;
	}
	.clinicCardList::-webkit-scrollbar-track-piece,
	.doctorCardList::-webkit-scrollbar-track-piece {
		background-color: transparent;
		border-radius: 6px;
	}
	/* .cardItemContainer {
		display: flex;
		flex-direction: column;
		margin-right: 12px;
		width: 100%;
	} */
	.ourClinicTextStyle {
		font-family: 'Avenir Next Bold';
		font-style: normal;
		font-weight: 300;
		font-size: 18px;
		line-height: 18px;
		color: #1e2837;
		/* margin-top: 72px; */
		height: 38px;
	}
	.clinicCardContainerTitle {
		display: flex;
		flex-direction: column;
		width: 375px;
	}
	.arrowsIcons {
		display: none;
	}

	/* doctors list  */
	.doctorCardList {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		flex-wrap: nowrap;
		overflow-x: scroll;
		overflow-y: hidden;
		gap: 10px;
	}
	.doctorItemContainer {
		display: flex;
		flex-direction: column;
		border: 1px solid #d8d8d8;
		border-radius: 5px;
		position: relative;
		width: 254px;
		height: 361px;
		object-fit: cover;
	}

	.docImage {
		width: 254px;
		height: 264px;
	}
	.cardItemContainer {
		display: flex;
		flex-direction: column;
		width: 100%;
		margin-right: 12px;
		overflow: unset !important;
	}
	.firstPart {
		width: calc(100% - 32px);
	}
	.clinicCardContainer {
		margin-top: 44px;
		padding: 36px 0;
	}
	.cardPriceContainer {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 32px;
	}
	.card {
		width: 99%;
	}
	.cardImg {
		width: 90%;
	}

	.serviceContainerImg {
		display: flex;
		flex-direction: column;
	}

	/* benefit parts  */
	.benefits {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 92%;
	}
	.benefitsContainerImg {
		display: none;
	}
	.benefitCardLeftSide {
		margin-top: 0px;
		margin-right: 0px;
		margin-left: 0px;
	}
	.benefitCardRightSide {
		margin-top: 0px;
		margin-right: 0px;
		margin-left: 0px;
	}

	/* cards silverss goldss  */
	.cardOffersTitles {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		padding-left: 16px;
		padding-right: 16px;
	}
	.cardPriceTitle {
		font-family: 'Noto Sans';
		font-style: normal;
		font-weight: 700;
		font-size: 26px;
		line-height: 35px;
		color: #1e2837;
		margin-right: auto;
		margin-top: 20px;
	}
	.cardSection {
		display: flex;
		flex-direction: column;
		gap: 44.54px;
		width: calc(100% - 32px);
	}
	.headerCardImg {
		display: none;
	}

	/* services onine cnsultation, video, home visit and so on */
	.serviceContainerContent {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 10px;
		padding-left: 16px;
		padding-right: 16px;
	}
	.leftSideContentText {
		width: 100%;
		height: auto;
	}
	.rightSideContent {
		display: flex;
		flex-direction: row;
		height: 320px;
		overflow-x: scroll;
		overflow-y: hidden;
	}
	.servicesCard {
		border: 1px solid rgba(30, 40, 55, 0.1);
	}
	.imgPart {
		width: 100%;
		height: 207px;
	}
	.imgPart img {
		object-fit: cover;
		width: 254px;
		height: 160px;
	}
	.showBtn {
		width: 100%;
	}
	.doctorCardContainer {
		padding: 20px 0;
	}
	.doctorItem {
		width: 92%;
	}
	.serviceContainerImg img {
		width: 100%;
	}
	.leftSideContent {
		width: 100%;
	}
	.benefitsContainer {
		padding: 44px 0;
	}
	.rightSideContent {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		overflow-x: scroll;
		overflow-y: hidden;
		gap: 2;
		width: 100%;
		height: auto;
		margin-top: 30px;
	}
	.servicesCardTitle {
		width: 200px;
	}
	.registrationButton {
		display: none;
	}
	.registrationButtonResp {
		display: block;
		margin-top: 41px;
		width: 100%;
		height: 48px;
		background-color: #1e2837;
		color: #ffff;
		border-radius: 5px;
		margin-right: auto;
	}
	.serviceContainerContent {
		margin: 44px 0;
	}
	.bottomImg {
		display: none;
	}
	.bottomImgMobile {
		display: flex;
		width: 100%;
	}
	.carousel {
		display: none;
	}
	.firstPartImgForMobile {
		display: flex;
		width: 100%;
	}
}
