.container {
  display: flex;
}
.singInContainer {
  flex: 1;
  height: 1024px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.headerIcon {
  margin-right: 360px;
  margin-top: -127px;
  margin-bottom: 100px;
}
.headerIconSignIn {
  margin-right: 360px;
  margin-top: -350px;
  margin-bottom: 100px;
}
.singInTextStyle {
  width: 360px;
}
.loginText {
  color: #1e2837;
  font-family: "Graphik";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 32px;
}
.accountText {
  color: #90959c;
  font-family: "Graphik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}

.loginOptionsContainer {
  display: flex;
  flex-direction: row;
  gap: 32px;
  color: #1e2837;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
}
.loginOptionsStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  width: 164px;
  height: 50px;
  border-radius: 5px;
  margin-top: 30px;
}
.inputStyle {
  padding-left: 8px;
  background-color: #ffffff;
  border-top: 1px solid #d5d8de;
  border-left: 1px solid #d5d8de;
  border-right: 1px solid #d5d8de;
  width: 360px;
}

.linkedTitle {
  display: flex;
  justify-content: flex-end;
  width: 360px;
  margin-top: 18px;
}
.linkedTitleStyle {
  color: #3a74d2;
  font-family: "Graphik";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  padding-left: 3px;
}
.loginButton {
  width: 360px;
  height: 52px;
  border-radius: 5px;
  background-color: #3a74d2;
  color: #fff;
  margin-top: 20px;
}
.iconsStyle {
  padding-right: 8px;
}
.cardsContainer {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  position: "absolute";
  height: 1024px;
  left: 694px;
  border-radius: 8px;
  background-color: #f7f9fb;
  border: 1px solid #dcdddf;
}
.nameSurnameContainer {
  display: flex;
  gap: 29px;
  width: 360px;
}
.nameSurnameStyle {
  width: 164px;
  border-top: 1px solid #d5d8de;
  border-left: 1px solid #d5d8de;
  border-right: 1px solid #d5d8de;
  background-color: #ffffff;
  padding-left: 8px;
}

.lineContainer {
  display: flex;
  gap: 32px;
  width: 360px;
}

.line {
  width: 164px;
  height: 1px;
  background-color: #e5e5e5;
  margin-top: 22px;
}
.lineTextStyle {
  font-family: "Noto Sans";
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #c4c4c4;
  margin-top: 10px;
}
