.container {
	display: flex;
	padding-left: 140px;
}
.leftSideContainer {
	flex: 1;
}
.contactUsContainer {
	display: flex;
	margin-left: 140px;
	margin-right: 140px;
}

.singInContainer {
	height: 1024px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.contactInfoForMobile {
	display: none;
}

.contactUs {
	flex: 1;
	height: 1024px;
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: -138px;
}

.headerIcon {
	margin-top: 32px;
}

.singInTextStyle {
	width: 360px;
}

.loginText {
	color: #1e2837;
	font-family: 'Graphik';
	font-style: normal;
	font-weight: 500;
	font-size: 30px;
	line-height: 32px;
}

.accountText {
	color: #90959c;
	font-family: 'Graphik';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 16px;
	order: 2;
}

.loginOptionsContainer {
	color: #1e2837;
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 25px;
	width: 360px;
}

.loginOptionsStyle {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ffffff;
	border: 1px solid #e5e5e5;
	width: 100%;
	height: 50px;
	border-radius: 5px;
	margin-top: 30px;
}

.inputStyle {
	/* padding-left: 8px; */
	background-color: #ffffff;
	border-top: 1px solid #e5e5e5;
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	width: 360px;
}

.linkedTitle {
	display: flex;
	justify-content: flex-end;
	width: 360px;
	margin-top: 18px;
}

.linkedTitleStyle {
	color: #3a74d2;
	font-family: 'Graphik';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 16px;
	padding-left: 3px;
}

.loginButton {
	width: 360px;
	height: 52px;
	border-radius: 5px;
	background-color: #3a74d2;
	color: #fff;
	margin-top: 20px;
	cursor: pointer;
	border: none;
}

.iconsStyle {
	padding-right: 8px;
}

.cardsContainer {
	display: flex;
	border: 1px solid #dcdddf;
	background-color: #f7f9fb;
	flex: 1;
	justify-content: center;
	align-items: center;
}

.contactUsCardContainer {
	display: flex;
	flex-direction: column;
	flex: 1;
	order: 2;
	justify-content: center;
	align-items: center;
	height: 770px;
	right: 140px;
	margin-top: 68px;
	margin-bottom: 199px;
	border-radius: 8px;
	background-color: #f7f9fb;
}
.cardContainerImg {
	/* margin-bottom: 10px; */
	width: 100%;
	background-color: #f7f9fb;
}

.iconContactInfo {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.nameSurnameContainer {
	display: flex;
	gap: 29px;
	width: 360px;
}

.nameSurnameStyle {
	width: 164px;
	border-top: 1px solid #d5d8de;
	border-left: 1px solid #d5d8de;
	border-right: 1px solid #d5d8de;
	background-color: #ffffff;
	padding-left: 8px;
}

.lineContainer {
	display: flex;
	gap: 32px;
	width: 360px;
}

/* input style */
.inputConainer {
	width: 360px;
}

.inputConainer label {
	position: absolute;
	margin-top: -3.7em;
	padding-left: 10px;
	transition: all 0.3s ease-in-out;
}
.inputConainer input {
	position: relative;
	z-index: 1;
	width: 100%;
	height: 58px;
	display: block;
	padding-left: 10px;
	padding-top: 15px;
	margin: 18px 0 18px 0;
	border: solid 1px #d5d8de;
	transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
	transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
	background: linear-gradient(to top, rgba(255, 255, 255, 0) 99%, #d5d8de 1%);
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 99%, #d5d8de 1%)
		rgba(255, 255, 255, 0.4);
	background-position: -1000px 0;
	background-size: auto 100%;
	background-repeat: no-repeat;
	color: #323941;
	font-size: 16px;
}
.inputConainer input:focus {
	padding-top: 10px;
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	color: #323941;
	opacity: 0.8;
}
.inputConainer input:valid + label {
	color: #323941;
	z-index: 1;
	font-size: 12px;
	transform: translateY(-2em);
}
.inputConainer input:focus + label,
.inputConainer input:active + label {
	font-size: 12px;
	color: #323941;
	transform: translateY(-2em);
}

.inputConainer input:focus,
.inputConainer input:valid {
	box-shadow: none;
	background-position: 0 0;
}
.nameSurnameInput {
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: #3a74d2;
}

.line {
	width: 164px;
	height: 1px;
	background-color: #e5e5e5;
	margin-top: 22px;
}

.lineTextStyle {
	font-family: 'Noto Sans';
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	color: #c4c4c4;
	margin-top: 10px;
}

.contactUsInputText {
	display: flex;
	justify-content: flex-start;
	font-family: 'Noto Sans';
	width: 360px;
	font-weight: 500;
	font-size: 16px;
	line-height: 16px;
	color: #1e2837;
	margin-top: 20px;
	margin-bottom: -10px;
}

.contactUsNameText {
	display: flex;
	justify-content: flex-start;
	font-family: 'Noto Sans';
	font-weight: 500;
	font-size: 16px;
	line-height: 16px;
	color: #1e2837;
	margin-top: 20px;
	margin-bottom: -10px;
}

.contactInfo {
	display: flex;
	align-items: center;
	margin-top: 32px;
}

.contactInfoText {
	font-family: 'Noto Sans';
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: #1e2837;
	padding-left: 3px;
	padding-right: 15px;
}
.imgForMobile {
	display: none;
}

/* mobile version  */

@media only screen and (max-width: 767px) {
	.container {
		padding: 0;
	}
	.contactUsContainer {
		display: flex;
		flex-direction: column;
		margin: 50px 0px 60px 10px;
	}
	.contactUs {
		display: flex;
		align-items: center;
		width: 100%;
		order: 2;
	}

	.contactUsCardContainer {
		order: 1;
		border: none;
	}

	.cardContainerImg {
		/* margin-bottom: 10px;
		width: 100%;
		background-color: #f3f6f8; */
		display: none;
	}
	.imgForMobile {
		display: flex;
		justify-content: flex-end;
		width: 400px;
		margin-top: -150px;
	}

	.contactInfoForMobile {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		gap: 20px;
		margin-top: 40px;
		margin-bottom: 40px;
	}

	.iconContactInfo {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	.contactInfo {
		display: none;
	}
	.cardsContainer {
		display: none;
	}
	.headerIcon {
		margin-left: 16px;
	}
	.headerIconSignIn {
		margin-left: 16px;
	}
	.singInContainer {
		display: flex;
		align-items: center;
		background-color: #ffff;
	}
	.btnContainer {
		display: flex;
		justify-content: center;
	}
}
