.container {
	display: flex;
	padding-left: 140px;
}
.leftSideContainer {
	flex: 1;
}
.contactUsContainer {
	display: flex;
	margin: auto;
	width: calc(100% - 0px);
	max-width: calc(1440px - 100px);
	background-color: #fff;
}

.singInContainer {
	height: 1024px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.contactInfoForMobile {
	display: none;
}

.contactUs {
	flex: 1;
	height: 1024px;
	display: flex;
	flex-direction: column;
	margin-top: 68px;
}

.headerIcon {
	margin-top: 32px;
}

.singInTextStyle {
	width: 360px;
}
.loginBtn {
	width: 360px;
	height: 52px;
	border-radius: 5px;
	background-color: #ffbbb6;
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 25px;
	color: #1e2837;
	margin-top: 20px;
	cursor: pointer;
	border: none;
}
.logoContainer {
	display: flex;
	flex-direction: row;
	margin-top: 32px;
}
.loginText {
	color: #1e2837;
	font-family: 'Graphik';
	font-style: normal;
	font-weight: 500;
	font-size: 30px;
	line-height: 32px;
}

.accountText {
	color: #90959c;
	font-family: 'Graphik';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 16px;
	order: 2;
}

.loginOptionsContainer {
	color: #1e2837;
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 25px;
	width: 360px;
}

.loginOptionsStyle {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ffffff;
	border: 1px solid #e5e5e5;
	width: 100%;
	height: 50px;
	border-radius: 5px;
	margin-top: 30px;
}

.inputStyle {
	/* padding-left: 8px; */
	background-color: #ffffff;
	border-top: 1px solid #e5e5e5;
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	width: 360px;
}

.linkedTitle {
	display: flex;
	justify-content: flex-end;
	width: 360px;
	margin-top: 18px;
}

.linkedTitleStyle {
	color: #3a74d2;
	font-family: 'Graphik';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 16px;
	padding-left: 3px;
}

.loginButton {
	width: 360px;
	height: 52px;
	border-radius: 5px;
	background-color: #fdc7c4;
	font-family: 'Avenir Next Bold';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 23px;
	color: #1e2837;
	margin-top: 20px;
	cursor: pointer;
	border: none;
}

.iconsStyle {
	padding-right: 8px;
	width: 24px;
	height: 22px;
}
.termAndCondition {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 19px;
	gap: 5px;
	width: 100%;

	color: #797a80;
}
.termAndCondition a {
	color: #01261c;
	cursor: pointer;
	text-decoration: underline;
}
.termAndCondition input {
	width: 24px;
	height: 24px;
	padding-right: 13px;
}
.cardsContainer {
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
	background: #ffbbb6;
	border: 1px solid rgba(174, 191, 188, 0.2);
	border-radius: 8px;
	height: 100vh;
}

.contactUsCardContainer {
	display: flex;
	flex-direction: column;
	flex: 1;
	order: 2;
	justify-content: center;
	align-items: center;
	height: 770px;
	right: 140px;
	margin-top: 68px;
	margin-bottom: 199px;
	border-radius: 8px;
	background-color: #f7f9fb;
}
.cardContainerImg {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 663px;
	height: 770px;
}

.iconContactInfo {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.nameSurnameContainer {
	display: flex;
	gap: 29px;
	width: 360px;
}
.inputField {
	display: flex;
	flex-direction: column;
	width: 30%;
	margin-right: 60px;
}
.inputField input {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 45%;
}
.nameSurnameStyle {
	width: 164px;
	border-top: 1px solid #d5d8de;
	border-left: 1px solid #d5d8de;
	border-right: 1px solid #d5d8de;
	background-color: #ffffff;
	padding-left: 8px;
}

.lineContainer {
	display: flex;
	gap: 32px;
	width: 360px;
}

/* input style */
.inputConainer {
	width: 360px;
}

.inputConainer label {
	/* position: absolute;
	margin-top: -3.7em;
	padding-left: 10px;
	transition: all 0.3s ease-in-out; */
}
.inputConainerInput {
	position: relative;
	z-index: 1;
	width: 100%;
	height: 56px;
	display: block;
	padding-left: 14px;
	margin: 18px 0 18px 0;
	transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
	transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
	background: linear-gradient(to top, rgba(255, 255, 255, 0) 99%, #d5d8de 1%);
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 99%, #d5d8de 1%)
		rgba(255, 255, 255, 0.4);
	background-position: -1000px 0;
	background-size: auto 100%;
	background-repeat: no-repeat;
	color: #323941;
	font-size: 16px;
	border: 1px solid #e5e5e5;
	border-radius: 5px;
}
.messageInput {
	min-height: 103px;
	min-width: 54%;
	width: 54%;
	padding-top: 19px;
	padding-left: 14px;
	margin-top: 20px;
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 16px;
	color: #323941;
	border: solid 1px #d5d8de;
}
.messageInput::placeholder {
	color: #90959c;
}

.inputConainer input:focus {
	padding-top: 10px;
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	color: #323941;
	opacity: 0.8;
}
.inputConainer input:valid + label {
	color: #323941;
	z-index: 1;
	font-size: 12px;
	transform: translateY(-2em);
}
.inputConainer input:focus + label,
.inputConainer input:active + label {
	font-size: 12px;
	color: #323941;
	transform: translateY(2em);
}

.inputConainer input:focus,
.inputConainer input:valid {
	box-shadow: none;
	background-position: 0 0;
}

.line {
	width: 164px;
	height: 1px;
	background-color: #e5e5e5;
	margin-top: 22px;
}

.lineTextStyle {
	font-family: 'Noto Sans';
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	color: #c4c4c4;
	margin-top: 10px;
}

.contactUsInputText {
	display: flex;
	justify-content: flex-start;
	font-family: 'Noto Sans';
	width: 360px;
	font-weight: 500;
	font-size: 16px;
	line-height: 16px;
	color: #1e2837;
	margin-top: 20px;
	margin-bottom: -10px;
}

.contactUsNameText {
	display: flex;
	justify-content: flex-start;
	font-family: 'Noto Sans';
	font-weight: 500;
	font-size: 16px;
	line-height: 16px;
	color: #1e2837;
	margin-top: 20px;
	margin-bottom: -10px;
}
.labelStyle {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 16px;
	color: #90959c;
}
.contactInfo {
	display: flex;
	align-items: center;
	margin-top: 64px;
}

.contactInfoText {
	font-family: 'Noto Sans';
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: #1e2837;
	padding-left: 3px;
	padding-right: 15px;
}
.imgForMobile {
	display: none;
}
/* mobile version  */

@media only screen and (max-width: 767px) {
	.container {
		padding: 0;
	}
	.contactUsContainer {
		display: flex;
		flex-direction: column;
		padding-left: 16px;
		padding-right: 16px;
	}
	.contactUs {
		/* display: flex;
		align-items: center;
		width: 100%;
		order: 2; */

		flex: 1 1;
		height: 1024px;
		display: flex;
		flex-direction: column;
		margin-top: 18px;
	}

	.contactUsCardContainer {
		order: 1;
		border: none;

		margin-top: 0;
		margin-bottom: 0;
	}

	.cardContainerImg {
		/* margin-bottom: 10px;
		width: 100%;
		background-color: #f3f6f8; */
		display: none;
	}
	.imgForMobile {
		display: flex;
		justify-content: flex-end;
		width: 100%;
		background-color: #ffbbb6;
	}
	.nameSurnameContainer {
		display: flex;
		gap: 23px;
	}
	.contactInfoForMobile {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		gap: 20px;
		margin-top: 40px;
		margin-bottom: 40px;
	}

	.iconContactInfo {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	.contactInfo {
		display: none;
	}
	.cardsContainer {
		display: none;
	}
	.headerIcon {
		margin-left: 16px;
	}
	.headerIconSignIn {
		margin-left: 16px;
	}
	.singInContainer {
		display: flex;
		align-items: center;
		background-color: #ffff;
		padding: 0 16px;
	}
	.btnContainer {
		display: flex;
		justify-content: center;
	}
	.formContainer {
		z-index: 0;
		width: 100%;
	}
	.inputConainer {
		width: 100%;
	}
	.messageInput {
		min-height: 103px;
		min-width: 100%;
		padding-top: 19px;
		padding-left: 14px;
		margin-top: 20px;
		font-family: 'Noto Sans';
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 16px;
		color: #323941;
		border: solid 1px #d5d8de;
	}
	.singInTextStyle {
		width: 100%;
	}
	.loginButton {
		width: 100%;
		margin-bottom: 60px;
	}
	.inputField {
		display: flex;
		flex-direction: column;
		width: 160px;
		margin-right: 0;
	}
	.inputField input {
		display: flex;
		flex-direction: column;
		position: relative;
		width: 100%;
	}
	.contactUsInputText {
		margin-top: 0;
	}
}
