.slideshow {
	flex-direction: column;
	overflow: hidden;
	margin: auto;
	width: calc(100% - 0px);
	max-width: calc(1440px - 50px);
}

.slideshowSlider {
	white-space: nowrap;
	transition: ease 1000ms;
	width: 100%;
	height: 494px;
	/* margin-top: 30px; */
	padding-left: 30px;
	background: #f7f9fb;
}

.headerCardImg {
	width: 100%;
}

.slide {
	display: inline-block;
	position: relative;
	height: 494px;
	width: 100%;
}

.slideshowDots {
	text-align: center;
}

.slideshowDot {
	display: inline-block;
	border-radius: 50%;
	cursor: pointer;
	margin: 44px 7px 44px;
	background-color: #ffff;
}
.sliderTextContent {
	display: inline-block;
	position: relative;
	width: 100%;
	overflow: hidden;
	background-color: #f7f9fb;
}
.content {
	display: inline-block;
	vertical-align: top;
	width: 508px;
	height: 494px;
	margin-right: 100px;
	padding-top: 40px;
	padding-left: 20px;
}
.medicalCardTitle {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 48px;
	line-height: 84px;
	color: #1e2837;
	white-space: pre-line;
}
.medicalCardText {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 30px;
	color: #797a80;
	white-space: pre-line;
	width: 455px;
	margin-top: 20px;
}
.medicalCardsButtons {
	display: flex;
	justify-content: flex-start;
	margin-top: 38px;
}
.orderBtn {
	width: 177px;
	height: 48px;
	background: #ffbbb6;
	border-radius: 5px;
	border: none;
	margin-right: 30px;
	font-family: 'Avenir Next Bold';
	font-style: normal;
	font-weight: 900;
	font-size: 16px;
	line-height: 23px;
	color: #1e2837;
	margin-bottom: 12px;
}
.downloadOrderBtn {
	width: 146px;
	height: 48px;
	background: #ffffff;
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 22px;
	color: #182372;
	border: none;
	border-radius: 5px;
}
.linkCard {
	color: #080809;
	margin-right: 5px;
}

.sliderImg {
	position: absolute;
	right: 0;
	top: 0;
}

.sliderImage {
	position: absolute;
	right: 0;
	top: 0;
}

.sliderCoverImage {
	position: absolute;
	right: 0;
	bottom: 0;
}

.slide {
	vertical-align: top;
}

.slideImgResp {
	background: #f7f9fb;
}

@media only screen and (max-width: 1200px) {
	.sliderImage {
		display: none;
	}
	.sliderTextContent {
		width: 1200px;
	}
}
